<footer>
	<div class="content" style="height: 62px;">
	  <div class="top">
		<div class="logo-details">
		  <img src="assets/img/Library-logo1.png" id="footerLogo" width="200" height="400"  >
		</div>
		<span class="copyright_text"  style="font-size: small;">Copyright &copy; 2024 Vedanta Limited. All rights reserved. <a href="#"></a></span>
		<span class="policy_terms" style="font-size: small;">
		  <a style="color:rgb(22, 32, 138);" routerLink="/privacy-policy">Privacy policy</a>
		  <a style="color:rgb(22, 32, 138);" routerLink="/terms-and-conditions">Terms & condition</a>
		</span>
		<div class="media-icons">
		  <a href="https://www.facebook.com/share/18Y2Dzwmtp/" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook-f" ></i></a>
		  <a href="https://x.com/Balco_India?t=16tJ7wPTDU-1Xcrp-nAovQ&s=08" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-x-twitter"></i></a>
		  <a href="https://www.instagram.com/balco_india/" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram"></i></a>
		  <a href="https://in.linkedin.com/company/bharat-aluminium-company-limited" target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin-in"></i></a>
		</div>
	  </div>
	</div>
  </footer>