
<img src="assets/img/loginImage.JPG" id="loginImage" alt="library">

<!DOCTYPE html>

<html lang="en">
<head>


</head>

<body>
 



    
    <form [formGroup]="loginForm">
      <div class="account-logo">
        <img src="assets/img/library-DM-&-KT-2.png" id="logo">
      </div>
      <div class="loginForm">
        <h3>Login Here</h3>
    
        <div class="input-block mb-4">
          <label class="col-form-label">User Name</label>
          <input class="form-control" placeholder="User Name" formControlName="emailId" type="text" id="emailId">
          <div *ngIf="formFields['emailId'].invalid && formFields['emailId'].touched" class="text-danger">
            <small *ngIf="formFields['emailId'].errors?.['required']"  style="color: crimson;">User Name is required.</small>
          </div>
        </div>
    
        <div class="input-block mb-4">
          <label class="col-form-label">Password</label>
          <input class="form-control" placeholder="Password" formControlName="password" type="password" id="password">
          <div *ngIf="formFields['password'].invalid && formFields['password'].touched" class="text-danger">
            <small *ngIf="formFields['password'].errors?.['required']" style="color: crimson;">Password is required.</small>
            <small *ngIf="formFields['password'].errors?.['minlength']" style="color: crimson;">Password must be at least 6 characters long.</small>
            <small *ngIf="loginForm.get('password')?.hasError('notLowercase')" style="color: crimson;">
              Password must be all lowercase.
            </small>
          </div>
        </div>
        <div *ngIf="errorFlg"  style="color: crimson;">
          {{errorMsg}}
        </div>
        <div class="input-block mb-4 text-center">
          <button type="button" (click)="onClickSubmit(loginForm)">Log In</button>
        </div>
      </div>
    </form>

    
    
   
    
    
    
</body>
</html>

