.content {
	padding: 30px;
}
@media (min-width: 1200px) {
    .col-xl-2 {
        flex: 0 0 auto;
        width: 19.666667%;
    }
}
div#recentDatePicker[_ngcontent-ng-c3207148860] {
    margin-left: 31px;
}
.card-table .card-header {
    border-bottom: 0;
    padding: 15px;
}
.table th {
    font-weight: 500;
    white-space: nowrap;
    border-top: 1px solid #E9E9EA;
    padding: 1rem 0.75rem;
    background-color:  #81ed81;
    background: linear-gradient(to top, #f2f9fb 0%,  #81ed81 100%) !important;
    color: #3636b1;
}

.arrow {
  margin-left: 1em; /* Use em for relative spacing */
  font-size: 1.5em; /* Keeps size scalable */
}

.arrow.up {
  color: green;
}

#downArrow {
  color: red;
}

/* Adjusting spacing to be responsive */
span.countName {
  margin-top: -20%; /* Adjust percentage to be more balanced */
}

/* Adjusting margin for h3 */
h3.count {
  margin-right: 10%; /* Using percentage for relative spacing */
}

/* Responsive styles for different screen sizes */
@media (min-width: 768px) and (max-width:1302) {
  .arrow {
      font-size: 1.2em; /* Adjust font size on smaller screens */
      margin-left: 0.8em;
  }

  span.countName {
      margin-top: -15%;
  }

  h3.count {
      margin-right: 5%;
  }
}

@media (max-width: 480px) {
  .arrow {
      font-size: 1em;
      margin-left: 0.5em;
  }

  span.countName {
      margin-top: -10%;
  }

  h3.count {
      margin-right: 3%;
  }
}


.card .card-body {
  padding: 16px;
}

div#applicationDatePicker {
  margin-left: 66%;
}


.card-body1{
  padding-left: 150px;
  height: 340px;
}


.custom-chart1 {
  height: 350px;
  margin-bottom: 10px;
  margin-left: 120px;
 
}

 .abc{
  height: 375px; 
}

.acc{
  height: 370px; 
}