<!-- Header -->
<div class="header">

	<!-- Logo -->
	<div class="header-left">
		<a class="logo">
			<img src="assets/img/Library-logo1.png" width="500" height="500">
		</a>
		<a class="logo collapse-logo">
			<img src="assets/img/Library-logo.png" alt="Logo">
		</a>
		<a class="logo2">
			<img src="assets/img/Library-logo.png" width="40" height="40" alt="">
		</a>
	</div>
	<!-- /Logo -->

	<a (click)="toggleSideBar()" id="toggle_btn" href="javascript:void(0);">
		<span class="bar-icon" [hidden]="!baricon">
			<span></span>
			<span></span>
			<span></span>
		</span>
	</a>

	<!-- Header Title -->
	<div class="page-title-box">
		<h3 style="color: black;">DM & KT</h3>
	</div>
	<!-- /Header Title -->

	<a id="mobile_btn" (click)="togglesMobileSideBar()" (keydown.enter)="togglesMobileSideBar()" tabindex="0"
		class="mobile_btn"><i class="fa-solid fa-bars"></i></a>

	<!-- Header Menu -->
	<ul class="nav user-menu">

		<!-- HOD bell Icon -->
		<!-- <li class="nav-item dropdown" [hidden]="roleFlagHod">
			<a href="javascript:void(0);" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
				<i class="fa-regular fa-bell me-1" style="color:white"></i> <span
					class="badge rounded-pill">{{notificationCount}}</span>
			</a>
			<div class="dropdown-menu notifications">
				<div class="topnav-dropdown-header">
					<span class="notification-title ">Statutory Document Status</span>

				</div>
				<div class="noti-content">
					<ul class="notification-list" *ngFor="let item of notificationData;">
						<li class="notification-message" (click)="onHodItemClick(item.requestorName)">
							<a data-bs-toggle="modal" data-bs-target="#notificationModalHod">
								<div class="chat-block d-flex">
									<span class="avatar flex-shrink-0">
										<img src="assets/img/avatar/avatar-27.jpg" alt="">
									</span>
									<div class="media-body flex-grow-1">
										<p class="noti-details"><span class="noti-title">{{item.requestorName}}</span>
											reuqested a document <span class="noti-title">{{item.docName}}</span></p>

									</div>
								</div>
							</a>
						</li>
					</ul>
				</div>
				<div class="topnav-dropdown-footer">

				</div>
			</div>
		</li> -->

		<!-- User/SuperUser bell icon -->
		<li class="nav-item dropdown" [hidden]="roleFlagStatutory">
			<a href="javascript:void(0);" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
				<i class="fa-regular fa-bell me-1" style="color:white"></i>
				 <span class="badge rounded-pill">{{userNotifyCount}}</span>
			</a>
			<div class="dropdown-menu notifications">
				<div class="topnav-dropdown-header">
					<span class="notification-title">Statutory Document Notification's</span>
				</div>
				<div class="noti-content">
					<ul class="notification-list" *ngFor="let item of respData;">
						<li class="notification-message" (click)="onItemClick(item)">
							<a data-bs-toggle="modal" data-bs-target="#notificationModal">
								<div class="chat-block d-flex">
									<span class="avatar flex-shrink-0">
										<img src="assets/img/avatar/avatar-27.jpg" alt="">
									</span>
									<div class="media-body flex-grow-1">

										<p class="noti-details"><span class="noti-title">{{item.executerName}}</span>
											<span [ngClass]="{
												'text-pending': item.documentApprovalStatus === 'P',
												'text-approved': item.documentApprovalStatus === 'A',
												'text-rejected': item.documentApprovalStatus === 'R'
											  }">
												{{ getApprovalStatus(item.documentApprovalStatus) }}
											</span>
											<span class="noti-title">{{item.documentName}}</span>
										</p>

									</div>
								</div>
							</a>
						</li>
					</ul>
				</div>
				<div class="topnav-dropdown-footer">
				</div>
			</div>
		</li>


		<li class="nav-item dropdown" [hidden]="roleFlag">
			<a href="javascript:void(0);" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
				<i class="fa-regular fa-file me-1" style="color:white"></i>
				 <span class="badge rounded-pill">{{userNotifyCountTwo}}</span>
			</a>
			<div class="dropdown-menu notifications">
				<div class="topnav-dropdown-header">
					<span class="notification-title">File Upload Notification's</span>
				</div>
				<div class="noti-content">
					<ul class="notification-list" *ngFor="let item of notificTwo;">
						<li class="notification-message" (click)="onFileNotificationClick(item)">
							<a data-bs-toggle="modal" data-bs-target="#notificationFileModal">
								<div class="chat-block d-flex">
									<span class="avatar flex-shrink-0">
										<img src="assets/img/avatar/avatar-27.jpg" alt="">
									</span>
									<div class="media-body flex-grow-1">

										<p class="noti-details"><span class="noti-title">{{item.executedByName}}</span>
											<span [ngClass]="{
												
												'text-pending': item.status === 'P',
												'text-approved': item.status === 'A',
												'text-rejected': item.status === 'R'
											  }">
												{{ getApprovalStatus(item.status) }}
											</span>
											<span class="noti-title">{{item.fileName}}</span>
										</p>
									</div>
								</div>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</li>

<!-- Librarian bell icon -->

<li class="nav-item dropdown" [hidden]="roleLibFlag">
	<a href="javascript:void(0);" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
		<i class="fa-regular fa-bell me-1" style="color:white"></i> <span
			class="badge rounded-pill">{{notificationCount}}</span>
	</a>
	<div class="dropdown-menu notifications">
		<div class="topnav-dropdown-header">
			<span class="notification-title">Statutory Document Status</span>
		</div>
		<div class="noti-content">
			<ul class="notification-list" *ngFor="let item of notificationData;">
				<li class="notification-message" (click)="onHodItemClick(item.requestorName)">
					<a data-bs-toggle="modal" data-bs-target="#notificationModalLib1">
						<div class="chat-block d-flex">
							<span class="avatar flex-shrink-0">
								<img src="assets/img/avatar/avatar-27.jpg" alt="">
							</span>
							<div class="media-body flex-grow-1">
								<p class="noti-details"><span class="noti-title">{{item.requestorName}}</span>
									reuqested a document <span class="noti-title">{{item.docName}}</span></p>

							</div>
						</div>
					</a>
				</li>
			</ul>
		</div>
		<div class="topnav-dropdown-footer">

		</div>
	</div>
</li>

	<!-- ROLE SELECTION -->
	<li class="nav-item dropdown has-arrow flag-nav">
		<a
		  class="nav-link dropdown-toggle"
		  data-bs-toggle="dropdown"
		  href="javascript:void(0);"
		  role="button"
		>
		  <span style="color: white;">{{ selectedUserRole || 'Select Role' }}</span>
		</a>
		<div class="dropdown-menu dropdown-menu-right">
		  <a
			href="javascript:void(0);"
			class="dropdown-item"
			*ngFor="let role of roles"
			(click)="onRoleChange(role)"
		  >
			{{ role }}
		  </a>
		</div>
	  </li>
	  
	  <!-- ROLE SELECTION -->


		<li class="nav-item dropdown has-arrow main-drop">
			<a href="javascript:void(0);" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
				<span class="user-img me-2"><img [src]="sanitizedImage ? sanitizedImage : '/assets/img/userIcon.png'" 
					alt="" class="rounded-circle border me-3" width="50" height="50">
					<span class="status online"></span></span>

				<span style="color: rgb(255, 255, 255);">{{uname}}</span>
			</a>
			<div class="dropdown-menu">
				<a class="dropdown-item" style="color: black;" [routerLink]="routes.employeeProfile" >My Profile</a>

				<a class="dropdown-item" style="color: black;" (click)="logout()">Logout</a>
			</div>
		</li>
	</ul>
	<!-- /Header Menu -->

	<!-- Mobile Menu -->
	<div class="dropdown mobile-user-menu">
		<a href="javascript:void(0);" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
			aria-expanded="false"><i class="fa-solid fa-ellipsis-vertical"></i></a>
		<div class="dropdown-menu dropdown-menu-right">
			<a class="dropdown-item" [routerLink]="routes.employeeProfile">My Profile</a>
			<a class="dropdown-item" [routerLink]="'/settings/company-settings'">Settings</a>
			<a (click)="logout()" class="dropdown-item">Logout</a>
		</div>
	</div>
	<!-- /Mobile Menu -->

</div>
<!-- /Header -->




<!-- Modal for Bell Icon Start for Users/SuperUsers -->

<div id="notificationModal" class="modal custom-modal fade" role="dialog">
	<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Requested Document Details</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
					<span >&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div>
					<div class="col-md-12">
						<div class="card flex-fill">
							<div class="card-body">
								<table style="width:100%; border-collapse: collapse;">
									<thead>
										<tr>
											<td rowspan="2" style="text-align: left; width: 20%;">
												<ng-container *ngIf="selectFileData?.documentType">
													<img src="assets/img/{{ selectFileData.documentType }}.png"
														style="max-width: 40%; padding-bottom: 5%;">
												</ng-container>
											</td>
											<td rowspan="2" style="text-align: center; width: 80%; padding-left: 10px;">
												<strong style="padding-bottom: 43%;">{{ selectFileData?.documentName
													}}</strong>
											</td>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td rowspan="2"
												style="padding: 8px; text-align: left; vertical-align: middle;">
												<strong>Plant Name:</strong>
											</td>
											<td rowspan="2"
												style="padding: 8px;text-align: center; vertical-align: middle;">{{
												selectFileData?.plantName }}</td>
										</tr>
										<tr></tr>
										<tr>
											<td rowspan="2"
												style="padding: 8px; text-align: left; vertical-align: middle;">
												<strong>Approver/Rejecter’s Name:</strong>
											</td>
											<td rowspan="2"
												style="padding: 8px;text-align: center; vertical-align: middle;">{{
												selectFileData?.executerName}}</td>
										</tr>
										<tr></tr>
										<tr>
											<td rowspan="2"
												style="padding: 8px; text-align: left; vertical-align: middle;">
												<strong>Expiration Date:</strong>
											</td>
											<td rowspan="2"
												style="padding: 8px;text-align: center; vertical-align: middle;">{{validUptoFormated}}</td>
												
										<tr></tr>
										<tr>
											<td rowspan="2"
												style="padding: 8px; text-align: left; vertical-align: middle;">
												<strong>Department Name:</strong>
											</td>
											<td rowspan="2"
												style="padding: 8px;text-align: center; vertical-align: middle;">{{
												selectFileData?.departmentName }}</td>
										</tr>
										<tr></tr>
										<tr>
											<td rowspan="2"
												style="padding: 8px; text-align: left; vertical-align: middle;">
												<strong>Document Name:</strong>
											</td>
											<td rowspan="2"
												style="padding: 8px;text-align: center; vertical-align: middle;position: relative;">
													<div class="tooltip-container">
													{{selectFileData?.documentName }}
													<span class="tooltip-text">{{ selectFileData?.uniqueDocumentName }}</span>
												  </div>
											</td>
										</tr>
										<tr></tr>
										<tr>
											<td rowspan="2"
												style="padding: 8px; text-align: left; vertical-align: middle;">
												<strong>Status:</strong>
											</td>
											<td rowspan="2"
												style="padding: 8px;text-align: center; vertical-align: middle;">

												{{ getApprovalStatusUserModal(selectFileData?.documentApprovalStatus) }}
											</td>
										</tr>
										<tr></tr>
										<tr *ngIf="!userReasonFlag">
											<td rowspan="2"
												style="padding: 8px; text-align: left; vertical-align: middle;">
												<strong>Reason:</strong>
											</td>
											<td rowspan="2"
												style="padding: 8px;text-align: center; vertical-align: middle;">{{
												selectFileData?.reason }}</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Modal for Bell Icon End -->

<!-- Modal for File Bell Icon Start for User/SuperUsers -->

<div id="notificationFileModal" class="modal custom-modal fade" role="dialog">
	
	<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">File Upload Notification Details</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
					<span >&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div>
					<div class="col-md-12">
						<div class="card flex-fill">
							<div class="card-body">
								<table style="width:100%; border-collapse: collapse;">									
									<tbody>
										<tr>
											<td rowspan="2"
												style="padding: 8px; text-align: left; vertical-align: middle;">
												<strong>Document Name:</strong>
											</td>
											<td rowspan="2"
												style="padding: 8px;text-align: center; vertical-align: middle;">{{
													selectedFileUploadData?.fileName }}</td>
										</tr>
										<tr></tr>
										<tr>
											<td rowspan="2"
												style="padding: 8px; text-align: left; vertical-align: middle;">
												<strong>Approver/Rejecter’s Name:</strong>
											</td>
											<!-- <td rowspan="2"
												style="padding: 8px;text-align: center; vertical-align: middle;">{{
													selectedFileUploadData?.executedByName}}</td> -->
													<td rowspan="2"
															style="padding: 8px; text-align: center; vertical-align: middle;">
														{{
															selectedFileUploadData?.executedByName && selectedFileUploadData.executedByName.trim()
															? selectedFileUploadData.executedByName
															: 'Yet to Approve or Reject'
														}}
														</td>

										</tr>
										<tr></tr>
										<tr>
											<td rowspan="2"
												style="padding: 8px; text-align: left; vertical-align: middle;">
												<strong>Executed Date:</strong>
											</td>
											<td rowspan="2"
												style="padding: 8px;text-align: center; vertical-align: middle;">{{selectedFileUploadData?.generatedOn}}
											</td>						
										<tr>
											<td rowspan="2"
												style="padding: 8px; text-align: left; vertical-align: middle;">
												<strong>Status:</strong>
											</td>
											<td rowspan="2"
												style="padding: 8px;text-align: center; vertical-align: middle;">

												{{ getApprovalStatusUserModal(selectedFileUploadData?.status) }}
											</td>
										</tr>
										<tr></tr>
										<tr *ngIf="!userFileReasonFlag">
											<td rowspan="2"
												style="padding: 8px; text-align: left; vertical-align: middle;" >
												<strong>Reason:</strong>
											</td>
											<td rowspan="2"
												style="padding: 8px;text-align: center; vertical-align: middle;">{{
													selectedFileUploadData?.reason }}</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Modal for File Bell Icon End for User/SuperUsers -->





<!-- Modal for HOD Start -->
<div id="notificationModalHod" class="modal custom-modal fade" role="dialog">
	<div class="modal-dialog modal-dialog-centered modal-md" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Requested Document Details</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
					<span >&times;</span>
				</button>
			</div>
			<form [formGroup]="hodModalForm">
				<div class="modal-body">
					<div>

						<div class="col-md-12">
							<div class="">
								<div class="">
									<table style=" width: 100%; ">
										<tr>
											<td style="text-align: left;width: 27%;margin-right: 24px;padding: 4px;">
												<ng-container *ngIf="selectedHodItem?.DocumentType">
													<img src="assets/img/{{ selectedHodItem.DocumentType }}.png"
														style="max-width: 30%; padding-bottom: 5%;">
												</ng-container>
											<td><strong>{{ selectedHodItem?.RequestedDocumentName }}</strong></td>
										</tr>
										<tr>
											<td style="width: 30%;padding: 8px; "><strong>Requester Name:</strong></td>

											<td style="padding: 8px;">{{ selectedHodItem?.RequesterName }}</td>
										</tr>
										<tr>
											<td style="width: 50%;padding: 8px;"><strong>Document Name:</strong>
											</td>
											<td style="padding: 8px;">								
												<div class="tooltip-container">
													{{ selectedHodItem?.RequestedDocumentName }}
													<span class="tooltip-text">{{ selectedHodItem?.UniqueDocumentName }}</span>
												  </div>
											</td>
										</tr>
										<tr>
											<td style="padding: 8px;"><strong>Plant Name:</strong></td>
											<td style="padding: 8px;">{{ selectedHodItem?.plantName }}</td>
										</tr>
										<tr>
											<td style="padding: 8px;"><strong>Department Name:</strong></td>
											<td style="padding: 8px;">{{ selectedHodItem?.DepartmentName }}</td>
										</tr>
										<tr>
											<td style="padding: 8px;"><strong>Attachment:</strong></td>
											<td style="padding: 8px;">
												<!-- Use Angular's property binding to dynamically set href -->
												<a *ngIf="selectedHodItem?.uploadImg"
													[href]="selectedHodItem?.uploadImg"
													download="selectedHodItem?.uploadImg" target="_blank">
													<i class="fas fa-eye" style="color: rgb(48, 63, 228)"></i>
												</a>
												<span *ngIf="!selectedHodItem?.uploadImg">No attachment available</span>
											</td>
										</tr>
																			
										<tr>
											<td style="padding: 8px;"><strong>Status:</strong></td>
											<td style="padding: 8px;">
												<select class="statusDropdown" formControlName="status"
													placeholder="Select" (change)="statusSelect($event)">
													<option value="">--Select--</option>
													<option value="A">Approved</option>
													<option value="R">Reject</option>
												</select>
												<div *ngIf="hodModalForm.get('status')?.touched && hodModalForm.get('status')?.invalid"
													class="text-danger">
													Status is required!
												</div>
											</td>
										</tr>
										<tr *ngIf="reasonFlag">
											<td style="padding: 8px;"><strong>Reason:</strong></td>
											<td> <textarea rows="4" cols="5" [(ngModel)]="reason" class="form-control"
													formControlName="reason" placeholder="Enter message"
													(input)="rejectReason($event)"
													style="height:70px;width: 101%;"></textarea>
												<div *ngIf="reason == ''  && rejectReasonFlag" class="text-danger">
													Provide the reason for the rejection!
												</div>
											</td>
										</tr>
										<tr *ngIf="!expDateFlag">
											<td style="padding: 8px;" ><strong>Expiration Date:</strong></td>
											<td style="padding: 8px;">
												<!-- <mat-label>To</mat-label> -->
											<input  bsDatepicker container=".date-input2" type="text" matInput formControlName="expDate" class="form-control floating datetimepicker">
											<span >The selected date must be greater than the current date.</span>
										</td>								
										</tr>
									</table>

									<!-- Action Buttons -->
									<div class="row mt-3">
										<div class="col-lg-12 text-end">
											<button class="btn btn-success" data-bs-dismiss="modal"
												(click)="updateDocumentStatus()" type="button"
												style="background-color: rgb(36, 160, 4); margin-right: 1%;"
												[disabled]="disableSubmitBtn">
												Submit
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<!-- Modal for HOD Ends -->





<!-- Modal for Librarian Start -->
<div id="notificationModalLib1" class="modal custom-modal fade" role="dialog">
	<div class="modal-dialog modal-dialog-centered modal-md" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Requested Document Details</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
					<span >&times;</span>
				</button>
			</div>
			<form [formGroup]="hodModalForm">
				<div class="modal-body">
					<div>
						<div class="col-md-12">
							<div class="">
								<div class="">
									<table style=" width: 100%; ">
										<tr>
											<td style="text-align: left;width: 27%;margin-right: 24px;padding: 4px;">
												<ng-container *ngIf="selectedHodItem?.DocumentType">
													<img src="assets/img/{{ selectedHodItem.DocumentType }}.png"
														style="max-width: 30%; padding-bottom: 5%;">
												</ng-container>
											<td><strong>{{ selectedHodItem?.RequestedDocumentName }}</strong></td>
										</tr>
										<tr>
											<td style="width: 30%;padding: 8px; "><strong>Requester Name:</strong></td>

											<td style="padding: 8px;">{{ selectedHodItem?.RequesterName }}</td>
										</tr>
										<tr>
											<td style="width: 50%;padding: 8px;"><strong>Document Name:</strong>
											</td>
											<td style="padding: 8px;">
												<div class="tooltip-container">
													{{ selectedHodItem?.RequestedDocumentName }}
													<span class="tooltip-text">{{ selectedHodItem?.UniqueDocumentName }}</span>
												  </div>
											</td>
										</tr>
										<tr>
											<td style="padding: 8px;"><strong>Plant Name:</strong></td>
											<td style="padding: 8px;">{{ selectedHodItem?.plantName }}</td>
										</tr>
										<tr>
											<td style="padding: 8px;"><strong>Department Name:</strong></td>
											<td style="padding: 8px;">{{ selectedHodItem?.DepartmentName }}</td>
										</tr>
										<tr>
											<td style="padding: 8px;"><strong>Attachment:</strong></td>
											<td style="padding: 8px;">
												<!-- Use Angular's property binding to dynamically set href -->
												<a *ngIf="selectedHodItem?.uploadImg"
													[href]="selectedHodItem?.uploadImg"
													download="selectedHodItem?.uploadImg" target="_blank">
													<i class="fas fa-eye" style="color: rgb(48, 63, 228)"></i>
												</a>
												<span *ngIf="!selectedHodItem?.uploadImg">No attachment available</span>
											</td>
										</tr>
									
										<tr>
											<td style="padding: 8px;"><strong>Status:</strong></td>
											<td style="padding: 8px;">
												<select class="statusDropdown" formControlName="status"
													placeholder="Select" (change)="statusSelect($event)">
													<option value="">--Select--</option>
													<option value="A">Approved</option>
													<option value="R">Reject</option>
												</select>
												<div *ngIf="hodModalForm.get('status')?.touched && hodModalForm.get('status')?.invalid"
													class="text-danger">
													Status is required!
												</div>
											</td>
										</tr>
										<tr *ngIf="reasonFlag">
											<td style="padding: 8px;"><strong>Reason:</strong></td>
											<td> <textarea rows="4" cols="5" [(ngModel)]="reason" class="form-control"
													formControlName="reason" placeholder="Enter message"
													(input)="rejectReason($event)"
													style="height:70px;width: 101%;"></textarea>
												<div *ngIf="reason == ''  && rejectReasonFlag" class="text-danger">
													Provide the reason for the rejection!
												</div>
											</td>
										</tr>
										<tr *ngIf="!expDateFlag">
											<td style="padding: 8px;"><strong>Expiration Date:</strong></td>
											<td style="padding: 8px;">
												<!-- <mat-label>To</mat-label> -->
											<input  bsDatepicker container=".date-input2" type="text" matInput formControlName="expDate" class="form-control floating datetimepicker">
											<span >The selected date must be greater than the current date.</span>
										</td>
										</tr>
									</table>

									<!-- Action Buttons -->
									<div class="row mt-3">
										<div class="col-lg-12 text-end">
											<button class="btn btn-success" data-bs-dismiss="modal"
												(click)="updateDocumentStatus()" type="button"
												style="background-color: rgb(36, 160, 4); margin-right: 1%;"
												[disabled]="disableSubmitBtn">
												Submit
											</button>

										</div>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<!-- Modal for Librarian Ends -->




