<!-- Page Content -->
<div class="content container-fluid" style="height: 82vh;">

  <!-- Page Header -->
  <div class="page-header">
    <div class="row">
      <div class="col-sm-12">
        <h3 class="page-title">Profile</h3>
        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a >Dashboard</a></li>
          <li class="breadcrumb-item active" style="color: black;">Profile</li>
        </ul>
      </div>
    </div>
  </div>
  <!-- /Page Header -->

  <div class="card mb-0">
    <div class="card-body" style="height: 160px;">
      <div class="row">
        <div class="col-md-12">
          <div class="profile-view">
            <div class="profile-img-wrap">
              <div class="profile-img">
                <img [src]="picture || 'assets/img/userIcon.png'" alt="Profile Picture" />
                <!-- <a><img alt="" src="assets/img/profiles/avatar-2.jpg"></a> -->
              </div>
            </div>
            <div class="profile-basic">
              <div class="row">
                <div class="col-md-5">
                  <div class="profile-info-left">
                    <h3 class="user-name m-t-0 mb-0">{{firstName}}</h3>
                    <h4 class="user-name m-t-0 mb-0">{{lastName}}</h4>
                    <div class="staff-id">Employee ID : {{userId}}</div>
                    <div class="staff-id">Role : {{roles}}</div>
                   
                 
                  </div>
                </div>
                <div class="col-md-7">
                  <ul class="personal-info">
                    <li>
                      <div class="title">Phone:</div>
                      <div class="text">{{phone}}</div>
                    </li>
                    <li>
                      <div class="title">Email:</div>
                      <div class="text">{{email}}</div>
                    </li>
                    <ul>
                      <div class="title">Plant and Department</div>
                      <li *ngFor="let item of departmentNameList">          
                        <div class="text">{{ item.departmentName }}/{{ item.plantName }}</div>
                      </li>
                    </ul>
                    
                  </ul>
                 
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>


          </div>
        
         