<!-- Add Client Modal from Admin -->
<div id="add_client_admin" class="modal custom-modal fade" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add Employee Modal</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="addUserForm">
          <div class="card">
            <div class="card-header">
              <h5 class="card-title">Image Upload</h5>
            </div>
            <div class="container" appDnd (fileDropped)="onFileDropped($event)">
              <input type="file" #fileDropRef id="fileDropRef" (change)="fileBrowseHandler($event)" />
              <img src="assets/img/dnd/ic-upload-file.svg" alt="">
              <h3>Drag and drop file here</h3>
              <h3>or</h3>
              <label for="fileDropRef">Browse for file</label>
            </div>
        
            <!-- File list section (hidden when no files are uploaded) -->
            <div class="files-list" *ngIf="files && files.length > 0" style="overflow-y: auto;">
              <div class="single-file" *ngFor="let file of files; let i = index" style="overflow-y: auto;">
                <img src="assets/img/dnd/ic-file.svg" width="45px" alt="file">
                <div class="info">
                  <h4 class="name">{{ file?.name }}</h4>
                  <p class="size">{{ formatBytes(file?.size) }}</p>
                  <app-progress [progress]="file?.progress"></app-progress>
                </div>
                <img src="assets/img/dnd/ic-delete-file.svg" class="delete" width="20px" alt="file" (click)="deleteFile(i)">
              </div>
            </div>
          </div>
          <div *ngIf="uploadDocumentFlag || uploadDocumentSizeFlag" class="text-danger" style="margin-left: 2%; padding-bottom: 4%;">
            Image size should be under 5KB.
          </div>
        
          <div class="row">
            <!-- Employee Name -->
            <div class="col-md-6">
              <div class="input-block mb-3">
                <label class="col-form-label">Employee Name <span class="text-danger">*</span></label>
                <input class="form-control" type="text"
                  [class.invalid]="addUserForm.get('userName')?.invalid && addUserForm.get('userName')?.touched"
                  formControlName="userName">
                <div *ngIf="addUserForm.get('userName')?.invalid && addUserForm.get('userName')?.touched">
                  <small class="text-danger">*Name is required</small>
                </div>
              </div>
            </div>
        
            <!-- Email -->
            <div class="col-md-6">
              <div class="input-block mb-3">
                <label class="col-form-label">Email ID <span class="text-danger">*</span></label>
                <input class="form-control" type="email"
                  [class.invalid]="addUserForm.get('userEmail')?.invalid && addUserForm.get('userEmail')?.touched"
                  formControlName="userEmail">
                <div *ngIf="addUserForm.get('userEmail')?.invalid && addUserForm.get('userEmail')?.touched">
                  <small class="text-danger">*Email is required</small>
                </div>
              </div>
            </div>
        
            <!-- Phone -->
            <div class="col-md-6">
              <div class="input-block mb-3">
                <label class="col-form-label">Phone <span class="text-danger">*</span></label>
                <input class="form-control" type="number"
                  [class.invalid]="addUserForm.get('userPhone')?.invalid && addUserForm.get('userPhone')?.touched"
                  formControlName="userPhone">
                <div *ngIf="addUserForm.get('userPhone')?.invalid && addUserForm.get('userPhone')?.touched">
                  <small class="text-danger">*Phone is required</small>
                </div>
              </div>
            </div>
        
            
            <!-- Plant Selection -->
            <div class="col-md-6">
              <div class="input-block mb-3" >
                <label class="col-form-label">Plants <span class="text-danger">*</span></label>
                <mat-select formControlName="plant" class="custom-mat-select select" placeholder="Select" >
                  <mat-option value="" disabled>Select Plant</mat-option>
                  <mat-option value="CPP-2 (540MW)">CPP-2 (540 MW)</mat-option>
                  <mat-option value="CPP-3 (1200MW)">CPP-3 (1200 MW)</mat-option>
                  <mat-option value="CPP (1740MW)">CPP (1740 MW)</mat-option>
                  <mat-option value="CPP-1">CPP-1</mat-option>
                </mat-select>
                <div *ngIf="addUserForm.get('plant')?.invalid && (addUserForm.get('plant')?.touched || addUserForm.get('plant')?.dirty)" class="text-danger">
                  Plant is required.
                </div>
              </div>
            </div>
        
            <div class="input-block mb-3" >
              <label class="col-form-label">Department </label>
              <mat-select formControlName="department" class="custom-mat-select select" placeholder="Select" >
                <mat-option value="">--Select--</mat-option>
                <mat-option *ngFor="let element of departmentList" [value]="element.catName + '~' + element.abbreviation" >{{element.catName}}</mat-option>
              </mat-select>
              <div *ngIf="addUserForm.get('department')?.invalid && (addUserForm.get('department')?.touched || addUserForm.get('department')?.dirty)" class="text-danger">
                Department is required.
              </div>
            </div>
          </div>

          <!-- Main Role -->
          <div class="table-responsive m-t-15">
            <table class="table table-striped custom-table">
              <thead>
                <tr>
                  <th>Main Role Permission</th>
                  <th class="text-center">Admin</th>
                  <th class="text-center">User</th>
                  <th class="text-center">Librarian</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Roles</td>
                  <td class="text-center">
                    <input type="radio" formControlName="mainRole" value="Admin" />
                  </td>
                  <td class="text-center">
                    <input type="radio" formControlName="mainRole" value="User" />
                  </td>
                  <td class="text-center">
                    <input type="radio" formControlName="mainRole" value="Librarian" />
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          

        
          <!-- Role Permissions -->
          <div class="table-responsive m-t-15">
            <table class="table table-striped custom-table">
              <thead>
                <tr>
                  <th>Role Permission</th>
                  <th class="text-center">Admin</th>
                  <th class="text-center">User</th>
                  <th class="text-center">SuperUser</th>
                  <th class="text-center">HOD</th>
                  <th class="text-center">Librarian</th>
                  <th class="text-center">IsActive</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Roles</td>
                  <td class="text-center"><input type="checkbox" formControlName="Admin" /></td>
                  <td class="text-center"><input type="checkbox" formControlName="User" /></td>
                  <td class="text-center"><input type="checkbox" formControlName="SuperUser" /></td>
                  <td class="text-center"><input type="checkbox" formControlName="HOD" /></td>
                  <td class="text-center"><input type="checkbox" formControlName="Librarian" /></td>
                  <td class="text-center"><input type="checkbox" formControlName="isActive" /></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div *ngIf="isHodChecked" class="add-department-section">
            <button class="button btn btn-primary"  style="background-color:#366bba;"  data-bs-toggle="tooltip" data-bs-placement="top" title="Add Department">
              <i class="fas fa-plus"></i>
            </button>

          </div>
          
          
        
          <!-- Form Buttons -->
          <div class="col-lg-12 text-end form-wizard-button">
            
            <button class="button btn-lights reset-btn" type="reset">
              Reset
            </button>
           
            <button class="button btn btn-primary" type="submit" (click)="submitAddUserForm()" style="background-color:#36ba45;">
              Submit
            </button>
          </div>
        </form>
        
      </div>
    </div>
  </div>
</div>
          <!-- /Add Client Modal from Admin -->

            <!-- /Add Client Modal from Librarian -->
            <div id="add_client_librarian" class="modal custom-modal fade" role="dialog">
              <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">Add Employee Modal</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form [formGroup]="addUserForm">
                      <div class="card">
                        <div class="card-header">
                          <h5 class="card-title">Image Upload</h5>
                        </div>
                        <div class="container" appDnd (fileDropped)="onFileDropped($event)">
                          <input type="file" #fileDropRef id="fileDropRef" (change)="fileBrowseHandler($event)" />
                          <img src="assets/img/dnd/ic-upload-file.svg" alt="">
                          <h3>Drag and drop file here</h3>
                          <h3>or</h3>
                          <label for="fileDropRef">Browse for file</label>
                        </div>
                    
                        <!-- File list section (hidden when no files are uploaded) -->
                        <div class="files-list" *ngIf="files && files.length > 0" style="overflow-y: auto;">
                          <div class="single-file" *ngFor="let file of files; let i = index" style="overflow-y: auto;">
                            <img src="assets/img/dnd/ic-file.svg" width="45px" alt="file">
                            <div class="info">
                              <h4 class="name">{{ file?.name }}</h4>
                              <p class="size">{{ formatBytes(file?.size) }}</p>
                              <app-progress [progress]="file?.progress"></app-progress>
                            </div>
                            <img src="assets/img/dnd/ic-delete-file.svg" class="delete" width="20px" alt="file" (click)="deleteFile(i)">
                          </div>
                        </div>
                      </div>
                      <div *ngIf="uploadDocumentFlag || uploadDocumentSizeFlag" class="text-danger" style="margin-left: 2%; padding-bottom: 4%;">
                        Image size should be under 5KB.
                      </div>
                    
                      <div class="row">
                        <!-- Employee Name -->
                        <div class="col-md-6">
                          <div class="input-block mb-3">
                            <label class="col-form-label">Employee Name <span class="text-danger">*</span></label>
                            <input class="form-control" type="text"
                              [class.invalid]="addUserForm.get('userName')?.invalid && addUserForm.get('userName')?.touched"
                              formControlName="userName">
                            <div *ngIf="addUserForm.get('userName')?.invalid && addUserForm.get('userName')?.touched">
                              <small class="text-danger">*Name is required</small>
                            </div>
                          </div>
                        </div>
                    
                        <!-- Email -->
                        <div class="col-md-6">
                          <div class="input-block mb-3">
                            <label class="col-form-label">Email ID <span class="text-danger">*</span></label>
                            <input class="form-control" type="email"
                              [class.invalid]="addUserForm.get('userEmail')?.invalid && addUserForm.get('userEmail')?.touched"
                              formControlName="userEmail">
                            <div *ngIf="addUserForm.get('userEmail')?.invalid && addUserForm.get('userEmail')?.touched">
                              <small class="text-danger">*Email is required</small>
                            </div>
                          </div>
                        </div>
                    
                        <!-- Phone -->
                        <div class="col-md-6">
                          <div class="input-block mb-3">
                            <label class="col-form-label">Phone <span class="text-danger">*</span></label>
                            <input class="form-control" type="number"
                              [class.invalid]="addUserForm.get('userPhone')?.invalid && addUserForm.get('userPhone')?.touched"
                              formControlName="userPhone">
                            <div *ngIf="addUserForm.get('userPhone')?.invalid && addUserForm.get('userPhone')?.touched">
                              <small class="text-danger">*Phone is required</small>
                            </div>
                          </div>
                        </div>
                    
                        
                        <!-- Plant Selection -->
                        <div class="col-md-6">
                          <div class="input-block mb-3" >
                            <label class="col-form-label">Plants <span class="text-danger">*</span></label>
                            <mat-select formControlName="plant" class="custom-mat-select select" placeholder="Select" >
                              <mat-option value="" disabled>Select Plant</mat-option>
                              <mat-option value="CPP-2 (540MW)">CPP-2 (540 MW)</mat-option>
                              <mat-option value="CPP-3 (1200MW)">CPP-3 (1200 MW)</mat-option>
                              <mat-option value="CPP (1740MW)">CPP (1740 MW)</mat-option>
                              <mat-option value="CPP-1">CPP-1</mat-option>
                            </mat-select>
                            <div *ngIf="addUserForm.get('plant')?.invalid && (addUserForm.get('plant')?.touched || addUserForm.get('plant')?.dirty)" class="text-danger">
                              Plant is required.
                            </div>
                          </div>
                        </div>
                    
                        <div class="input-block mb-3" >
                          <label class="col-form-label">Department </label>
                          <mat-select formControlName="department" class="custom-mat-select select" placeholder="Select" >
                            <mat-option value="">--Select--</mat-option>
                            <mat-option *ngFor="let element of departmentList" [value]="element.catName + '~' + element.abbreviation" >{{element.catName}}</mat-option>
                          </mat-select>
                          <div *ngIf="addUserForm.get('department')?.invalid && (addUserForm.get('department')?.touched || addUserForm.get('department')?.dirty)" class="text-danger">
                            Department is required.
                          </div>
                        </div>
                      </div>
            
                     
                      
            
                    
                      <!-- Role Permissions -->
                      <div class="table-responsive m-t-15">
                        <table class="table table-striped custom-table">
                          <thead>
                            <tr>
                              <th>Role Permission</th>
                              <th class="text-center">User</th>
                              <th class="text-center">SuperUser</th>
                              <th class="text-center">HOD</th>
                              <th class="text-center">IsActive</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>Roles</td>
                              <td class="text-center"><input type="checkbox" formControlName="User" /></td>
                              <td class="text-center"><input type="checkbox" formControlName="SuperUser" /></td>
                              <td class="text-center"><input type="checkbox" formControlName="HOD" /></td>
                              <td class="text-center"><input type="checkbox" formControlName="isActive" /></td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <div *ngIf="isHodChecked" class="add-department-section">
                        <button class="button btn btn-primary"  style="background-color:#366bba;"  data-bs-toggle="tooltip" data-bs-placement="top" title="Add Department">
                          <i class="fas fa-plus"></i>
                        </button>

                      </div>
                      
                      
                    
                      <!-- Form Buttons -->
                      <div class="col-lg-12 text-end form-wizard-button">
                        
                        <button class="button btn-lights reset-btn" type="reset">
                          Reset
                        </button>
                       
                        <button class="button btn btn-primary" type="submit" (click)="submitAddUserFormLibrarian()" style="background-color:#36ba45;">
                          Submit
                        </button>
                      </div>
                    </form>
                    
                  </div>
                </div>
              </div>
            </div>

            <!-- /Add Client Modal from Librarian -->

          <!-- Edit Client Modal Librarian-->
          <div id="edit_client" class="modal custom-modal fade" role="dialog">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Edit Employee Modal</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form [formGroup]="editUserForm">
                    <div class="card">
                      <div class="card-header">
                        <h5 class="card-title">Image Upload</h5>
                      </div>
                      <div class="container" appDnd (fileDropped)="onFileDropped($event)" >
                        <input type="file" #fileDropRef id="fileDropRef"   (change)="fileBrowseHandler($event)" />
                        <img src="assets/img/dnd/ic-upload-file.svg" alt="">
                        <h3>Drag and drop file here</h3>
                        <h3>or</h3>
                        <label for="fileDropRef">Browse for file</label>
                      </div>
                      <!-- File list section (hidden when no files are uploaded) -->
                    <div class="files-list" *ngIf="files && files.length > 0" style="overflow-y: auto;">
                      <div class="single-file" *ngFor="let file of files; let i = index" style="overflow-y: auto;">
                        <img src="assets/img/dnd/ic-file.svg" width="45px" alt="file">
                        <div class="info">
                          <h4 class="name">{{ file?.name }}</h4>
                          <p class="size">{{ formatBytes(file?.size) }}</p>
                          <app-progress [progress]="file?.progress"></app-progress>
                        </div>
                        <img src="assets/img/dnd/ic-delete-file.svg" class="delete" width="20px" alt="file" (click)="deleteFile(i)">
                      </div>
                    </div>
                    </div>
          
                    <div class="row">
                      <div class="col-md-6">
                        <div class="input-block mb-3">
                          <label class="col-form-label" for="">Employee Name <span class="text-danger">*</span></label>
                          <input class="form-control" type="text"  [readonly]="true"
                            [class.invalid]="addUserForm.get('userName')?.invalid && addUserForm.get('userName')?.touched"
                            formControlName="userName">
                          @if (addUserForm.get('userName')?.invalid && addUserForm.get('userName')?.touched) {
                          <div>
                            @if (addUserForm.get('userName')?.invalid && addUserForm.get('userName')?.touched) {
                            <small class="text-danger"> *Name is required</small>
                            }
                          </div>
                          }
                        </div>
                      </div>
                      
                      
          
                      <div class="col-md-6">
                        <div class="input-block mb-3">
                          <label class="col-form-label" for="">Email ID<span class="text-danger">*</span></label>
                          <input class="form-control" type="text" [readonly]="true"
                            [class.invalid]="addUserForm.get('userEmail')?.invalid && addUserForm.get('userEmail')?.touched"
                            formControlName="userEmail">
                          @if (addUserForm.get('userEmail')?.invalid && addUserForm.get('userEmail')?.touched) {
                          <div>
                            @if (addUserForm.get('userEmail')?.invalid && addUserForm.get('userEmail')?.touched) {
                            <small class="text-danger"> *Email is required</small>
                            }
                          </div>
                          }
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="input-block mb-3">
                          <label class="col-form-label" for="">Phone <span class="text-danger">*</span></label>
                          <input class="form-control" type="number" [readonly]="true"
                            [class.invalid]="addUserForm.get('userPhone')?.invalid && addUserForm.get('userPhone')?.touched"
                            formControlName="userPhone">
                          @if (addUserForm.get('userPhone')?.invalid && addUserForm.get('userPhone')?.touched) {
                          <div>
                            @if (addUserForm.get('userPhone')?.invalid && addUserForm.get('userPhone')?.touched) {
                            <small class="text-danger"> *Phone is required</small>
                            }
                          </div>
                          }
                        </div>
                      </div>
                 
                      <div class="col-md-6">
                        <div class="input-block mb-3">
                          <label class="col-form-label" for="">Plant Name</label>
                          <input class="form-control" formControlName="plant" [readonly]="true"> 
                        </div>
                        <div *ngIf="addUserForm.get('plant')?.invalid && addUserForm.get('plant')?.touched" class="text-danger">
                          Password is required and must be at least 6 characters long.
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="input-block mb-3">
                          <label class="col-form-label" for="">Department Name</label>
                          <input class="form-control" formControlName="department" [readonly]="true">
                        </div>
                        <div *ngIf="addUserForm.get('department')?.invalid && addUserForm.get('department')?.touched" class="text-danger">
                          Password is required and must be at least 6 characters long.
                        </div>
                      </div>
          
          
                    </div>
                    <div class="table-responsive m-t-15">
                      <table class="table table-striped custom-table">
                        <thead>
                          <tr>
                            <th>Role Permission</th>
                            <!-- <th class="text-center">Admin</th> -->
                            <th class="text-center">User</th>
                            <th class="text-center">SuperUser</th>
                            <th class="text-center">HOD</th>
                            <!-- <th class="text-center">Librarian</th> -->
                            <th class="text-center">IsActive</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>Roles</td>
                            <!-- <td class="text-center"><input type="checkbox" formControlName="Admin" /></td> -->
                            <td class="text-center"><input type="checkbox" formControlName="User" /></td>
                            <td class="text-center"><input type="checkbox" formControlName="SuperUser" /></td>
                            <td class="text-center"><input type="checkbox" formControlName="HOD" /></td>
                            <!-- <td class="text-center"><input type="checkbox" formControlName="Librarian" /></td> -->
                            <td class="text-center"><input type="checkbox" formControlName="isActive" /></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="col-lg-12 text-end form-wizard-button">
                      <!-- <button class="button btn-lights reset-btn" type="reset">
                        Reset
                      </button> -->
                      <button class="btn btn-primary" type="submit" (click)="editAddUserForm()" style="background-color:#36ba45;">
                        Submit
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
                    </div>
                    <!-- /Edit Client Modal -->

                    <!-- Edit Modal from admin -->
                    <div id="edit_client_admin" class="modal custom-modal fade" role="dialog">
                      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title">Edit Employee Modal</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <form [formGroup]="editUserForm">
                              <div class="card">
                                <div class="card-header">
                                  <h5 class="card-title">Image Upload</h5>
                                </div>
                                <div class="container" appDnd (fileDropped)="onFileDropped($event)" >
                                  <input type="file" #fileDropRef id="fileDropRef"   (change)="fileBrowseHandler($event)" />
                                  <img src="assets/img/dnd/ic-upload-file.svg" alt="">
                                  <h3>Drag and drop file here</h3>
                                  <h3>or</h3>
                                  <label for="fileDropRef">Browse for file</label>
                                </div>
                                <!-- File list section (hidden when no files are uploaded) -->
                              <div class="files-list" *ngIf="files && files.length > 0" style="overflow-y: auto;">
                                <div class="single-file" *ngFor="let file of files; let i = index" style="overflow-y: auto;">
                                  <img src="assets/img/dnd/ic-file.svg" width="45px" alt="file">
                                  <div class="info">
                                    <h4 class="name">{{ file?.name }}</h4>
                                    <p class="size">{{ formatBytes(file?.size) }}</p>
                                    <app-progress [progress]="file?.progress"></app-progress>
                                  </div>
                                  <img src="assets/img/dnd/ic-delete-file.svg" class="delete" width="20px" alt="file" (click)="deleteFile(i)">
                                </div>
                              </div>
                              </div>
                    
                              <div class="row">
                                <div class="col-md-6">
                                  <div class="input-block mb-3">
                                    <label class="col-form-label" for="">Employee Name <span class="text-danger">*</span></label>
                                    <input class="form-control" type="text"  [readonly]="true"
                                      [class.invalid]="addUserForm.get('userName')?.invalid && addUserForm.get('userName')?.touched"
                                      formControlName="userName">
                                    @if (addUserForm.get('userName')?.invalid && addUserForm.get('userName')?.touched) {
                                    <div>
                                      @if (addUserForm.get('userName')?.invalid && addUserForm.get('userName')?.touched) {
                                      <small class="text-danger"> *Name is required</small>
                                      }
                                    </div>
                                    }
                                  </div>
                                </div>
                                
                                
                    
                                <div class="col-md-6">
                                  <div class="input-block mb-3">
                                    <label class="col-form-label" for="">Email ID<span class="text-danger">*</span></label>
                                    <input class="form-control" type="text" [readonly]="true"
                                      [class.invalid]="addUserForm.get('userEmail')?.invalid && addUserForm.get('userEmail')?.touched"
                                      formControlName="userEmail">
                                    @if (addUserForm.get('userEmail')?.invalid && addUserForm.get('userEmail')?.touched) {
                                    <div>
                                      @if (addUserForm.get('userEmail')?.invalid && addUserForm.get('userEmail')?.touched) {
                                      <small class="text-danger"> *Email is required</small>
                                      }
                                    </div>
                                    }
                                  </div>
                                </div>
                                <div class="col-md-6">
                                  <div class="input-block mb-3">
                                    <label class="col-form-label" for="">Phone <span class="text-danger">*</span></label>
                                    <input class="form-control" type="number" [readonly]="true"
                                      [class.invalid]="addUserForm.get('userPhone')?.invalid && addUserForm.get('userPhone')?.touched"
                                      formControlName="userPhone">
                                    @if (addUserForm.get('userPhone')?.invalid && addUserForm.get('userPhone')?.touched) {
                                    <div>
                                      @if (addUserForm.get('userPhone')?.invalid && addUserForm.get('userPhone')?.touched) {
                                      <small class="text-danger"> *Phone is required</small>
                                      }
                                    </div>
                                    }
                                  </div>
                                </div>
                           
                                <div class="col-md-6">
                                  <div class="input-block mb-3">
                                    <label class="col-form-label" for="">Plant Name</label>
                                    <input class="form-control" formControlName="plant" [readonly]="true"> 
                                  </div>
                                  <div *ngIf="addUserForm.get('plant')?.invalid && addUserForm.get('plant')?.touched" class="text-danger">
                                    Password is required and must be at least 6 characters long.
                                  </div>
                                </div>
                                <div class="col-md-6">
                                  <div class="input-block mb-3">
                                    <label class="col-form-label" for="">Department Name</label>
                                    <input class="form-control" formControlName="department" [readonly]="true">
                                  </div>
                                  <div *ngIf="addUserForm.get('department')?.invalid && addUserForm.get('department')?.touched" class="text-danger">
                                    Password is required and must be at least 6 characters long.
                                  </div>
                                </div>
                              </div>

                                <!-- Main Role -->
          <div class="table-responsive m-t-15">
            <table class="table table-striped custom-table">
              <thead>
                <tr>
                  <th>Main Role Permission</th>
                  <th class="text-center">Admin</th>
                  <th class="text-center">User</th>
                  <th class="text-center">Librarian</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Roles</td>
                  <td class="text-center">
                    <input type="radio" formControlName="mainRole" value="Admin" />
                  </td>
                  <td class="text-center">
                    <input type="radio" formControlName="mainRole" value="User" />
                  </td>
                  <td class="text-center">
                    <input type="radio" formControlName="mainRole" value="Librarian" />
                  </td>
                </tr>
              </tbody>
            </table>
          </div>


                              <div class="table-responsive m-t-15">
                                <table class="table table-striped custom-table">
                                  <thead>
                                    <tr>
                                      <th>Role Permission</th>
                                      <th class="text-center">Admin</th>
                                      <th class="text-center">User</th>
                                      <th class="text-center">SuperUser</th>
                                      <th class="text-center">HOD</th>
                                      <th class="text-center">Librarian</th>
                                      <th class="text-center">IsActive</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <td>Roles</td>
                                      <td class="text-center"><input type="checkbox" formControlName="Admin" /></td>
                                      <td class="text-center"><input type="checkbox" formControlName="User" /></td>
                                      <td class="text-center"><input type="checkbox" formControlName="SuperUser" /></td>
                                      <td class="text-center"><input type="checkbox" formControlName="HOD" /></td>
                                      <td class="text-center"><input type="checkbox" formControlName="Librarian" /></td>
                                      <td class="text-center"><input type="checkbox" formControlName="isActive" /></td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                              <div class="col-lg-12 text-end form-wizard-button">
                                <!-- <button class="button btn-lights reset-btn" type="reset">
                                  Reset
                                </button> -->
                                <button class="btn btn-primary" type="submit" (click)="editAddUserFormAdmin()" style="background-color:#36ba45;">
                                  Submit
                                </button>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                              </div>
                    <!-- Edit Modal from admin -->

                    <!-- Delete Client Modal -->
                    <div class="modal custom-modal fade" id="delete_client" role="dialog">
                      <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                          <div class="modal-body">
                            <div class="form-header">
                              <h3>Delete Client</h3>
                              <p>Are you sure want to delete?</p>
                            </div>
                            <div class="modal-btn delete-action">
                              <div class="row">
                                <div class="col-6">
                                  <a  class="btn btn-primary continue-btn"
                                  >Delete</a>
                                </div>
                                <div class="col-6">
                                  <a  data-bs-dismiss="modal"
                                  class="btn btn-primary cancel-btn">Cancel</a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- /Delete Client Modal -->