<!-- Add Client Modal -->
<div id="add_client" class="modal custom-modal fade" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add User Modal</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="addUserForm">
          <div class="card">
            <div class="card-header">
              <h5 class="card-title">Image Upload</h5>
            </div>
            <div class="container" appDnd (fileDropped)="onFileDropped($event)" >
              <input type="file" #fileDropRef id="fileDropRef"   (change)="fileBrowseHandler($event)" />
              <img src="assets/img/dnd/ic-upload-file.svg" alt="">
              <h3>Drag and drop file here</h3>
              <h3>or</h3>
              <label for="fileDropRef">Browse for file</label>
            </div>
            <!-- File list section (hidden when no files are uploaded) -->
          <div class="files-list" *ngIf="files && files.length > 0" style="overflow-y: auto;">
            <div class="single-file" *ngFor="let file of files; let i = index" style="overflow-y: auto;">
              <img src="assets/img/dnd/ic-file.svg" width="45px" alt="file">
              <div class="info">
                <h4 class="name">{{ file?.name }}</h4>
                <p class="size">{{ formatBytes(file?.size) }}</p>
                <app-progress [progress]="file?.progress"></app-progress>
              </div>
              <img src="assets/img/dnd/ic-delete-file.svg" class="delete" width="20px" alt="file" (click)="deleteFile(i)">
            </div>
          </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="input-block mb-3">
                <label class="col-form-label" for="">User ID <span class="text-danger">*</span></label>
                <input class="form-control" type="text"
                  [class.invalid]="addUserForm.get('clientName')?.invalid && addUserForm.get('clientName')?.touched"
                  formControlName="userName">
                @if (addUserForm.get('clientName')?.invalid && addUserForm.get('clientName')?.touched) {
                <div>
                  @if (addUserForm.get('clientName')?.invalid && addUserForm.get('clientName')?.touched) {
                  <small class="text-danger"> *ID is required</small>
                  }
                </div>
                }
              </div>
            </div>
            <div class="col-md-6">
              <div class="input-block mb-3">
                <label class="col-form-label" for="">User name</label>
                <input class="form-control" type="text">
              </div>
            </div>

            <div class="col-md-6">
              <div class="input-block mb-3">
                <label class="col-form-label" for="">Email ID<span class="text-danger">*</span></label>
                <input class="form-control" type="text"
                  [class.invalid]="addUserForm.get('clientEmail')?.invalid && addUserForm.get('clientEmail')?.touched"
                  formControlName="userEmail">
                @if (addUserForm.get('clientEmail')?.invalid && addUserForm.get('clientEmail')?.touched) {
                <div>
                  @if (addUserForm.get('clientEmail')?.invalid && addUserForm.get('clientEmail')?.touched) {
                  <small class="text-danger"> *Email is required</small>
                  }
                </div>
                }
              </div>
            </div>
            <div class="col-md-6">
              <div class="input-block mb-3">
                <label class="col-form-label" for="">Phone <span class="text-danger">*</span></label>
                <input class="form-control" type="number"
                  [class.invalid]="addUserForm.get('clientPhone')?.invalid && addUserForm.get('clientPhone')?.touched"
                  formControlName="userPhone">
                @if (addUserForm.get('clientPhone')?.invalid && addUserForm.get('clientPhone')?.touched) {
                <div>
                  @if (addUserForm.get('clientPhone')?.invalid && addUserForm.get('clientPhone')?.touched) {
                  <small class="text-danger"> *Phone is required</small>
                  }
                </div>
                }
              </div>
            </div>
            <div class="col-md-6">
              <div class="input-block mb-3">
                <label class="col-form-label" for="">Password</label>
                <input class="form-control" formControlName="password" value="barrycuda" type="password">
              </div>
              <div *ngIf="form.get('password')?.invalid && form.get('password')?.touched" class="text-danger">
                Password is required and must be at least 6 characters long.
              </div>
            </div>
            <div class="col-md-6">
              <div class="input-block mb-3">
                <label class="col-form-label" for="">Confirm Password</label>
                <input class="form-control"  formControlName="confirmPassword" value="barrycuda" type="password">
              </div>
              <div *ngIf="form.errors?.passwordMismatch && form.touched" class="text-danger">
                Passwords do not match.
              </div>
            </div>



          </div>
          <div class="table-responsive m-t-15">
            <table class="table table-striped custom-table">
              <thead>
                <tr>
                  <th>Role Permission</th>
                  <th class="text-center">Admin</th>
                  <th class="text-center">User</th>
                  <th class="text-center">SuperUser</th>
                  <th class="text-center">HOD</th>
                  <th class="text-center">Librarian</th>
                  <th class="text-center">IsActive</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Roles</td>
                  <td class="text-center">
                    <label class="custom_check">
                      <input type="checkbox" checked>
                      <span class="checkmark"></span>
                    </label>
                  </td>
                  <td class="text-center">
                    <label class="custom_check">
                      <input type="checkbox" checked>
                      <span class="checkmark"></span>
                    </label>
                  </td>
                  <td class="text-center">
                    <label class="custom_check">
                      <input type="checkbox" checked>
                      <span class="checkmark"></span>
                    </label>
                  </td>
                  <td class="text-center">
                    <label class="custom_check">
                      <input type="checkbox" checked>
                      <span class="checkmark"></span>
                    </label>
                  </td>
                  <td class="text-center">
                    <label class="custom_check">
                      <input type="checkbox" checked>
                      <span class="checkmark"></span>
                    </label>
                  </td>
                  <td class="text-center">
                    <label class="custom_check">
                      <input type="checkbox" checked>
                      <span class="checkmark"></span>
                    </label>
                  </td>
                </tr>
             
              </tbody>
            </table>
          </div>
          <div class="col-lg-12 text-end form-wizard-button">
            <button class="button btn-lights reset-btn" type="reset" data-bs-dismiss="modal">
              Reset
            </button>
            <button class="btn btn-primary" type="submit">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
          <!-- /Add Client Modal -->

          <!-- Edit Client Modal -->
          <div id="edit_client" class="modal custom-modal fade" role="dialog">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Edit User</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form [formGroup]="editUserForm">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="input-block mb-3">
                          <label class="col-form-label" for="">First Name <span class="text-danger">*</span></label>
                          <input class="form-control" type="text"
                            [class.invalid]="editUserForm.get('editClientName')?.invalid && editUserForm.get('editClientName')?.touched"
                            formControlName="editClientName">
                            @if (editUserForm.get('editClientName')?.invalid && editUserForm.get('editClientName')?.touched) {
                              <div
                                >
                                @if (editUserForm.get('editClientName')?.invalid && editUserForm.get('editClientName')?.touched) {
                                  <small
                                  class="text-danger"> *Name is required</small>
                                }
                              </div>
                            }
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="input-block mb-3">
                            <label class="col-form-label" for="">Last Name</label>
                            <input class="form-control" type="text">
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="input-block mb-3">
                            <label class="col-form-label" for="">Username <span class="text-danger">*</span></label>
                            <input class="form-control" value="barrycuda" type="text">
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="input-block mb-3">
                            <label class="col-form-label" for="">Email <span class="text-danger">*</span></label>
                            <input class="form-control" type="text"
                              [class.invalid]="editUserForm.get('editClientEmail')?.invalid && editUserForm.get('editClientEmail')?.touched"
                              formControlName="editClientEmail">
                              @if (editUserForm.get('editClientEmail')?.invalid && editUserForm.get('editClientEmail')?.touched) {
                                <div
                                  >
                                  @if (editUserForm.get('editClientEmail')?.invalid && editUserForm.get('editClientEmail')?.touched) {
                                    <small
                                    class="text-danger"> *Email is required</small>
                                  }
                                </div>
                              }
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="input-block mb-3">
                              <label class="col-form-label" for="">Password</label>
                              <input class="form-control" value="barrycuda" type="password">
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="input-block mb-3">
                              <label class="col-form-label" for="">Confirm Password</label>
                              <input class="form-control" value="barrycuda" type="password">
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="input-block mb-3">
                              <label class="col-form-label" for="">Client ID <span class="text-danger">*</span></label>
                              <input class="form-control" type="text"
                                [class.invalid]="editUserForm.get('editClientId')?.invalid && editUserForm.get('editClientId')?.touched"
                                formControlName="editClientId">
                                @if (editUserForm.get('editClientId')?.invalid && editUserForm.get('editClientId')?.touched) {
                                  <div
                                    >
                                    @if (editUserForm.get('editClientId')?.invalid && editUserForm.get('editClientId')?.touched) {
                                      <small
                                      class="text-danger"> *Id is required</small>
                                    }
                                  </div>
                                }
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="input-block mb-3">
                                <label class="col-form-label" for="">Phone <span class="text-danger">*</span> </label>
                                <input class="form-control" type="text"
                                  [class.invalid]="editUserForm.get('editClientPhone')?.invalid && editUserForm.get('editClientPhone')?.touched"
                                  formControlName="editClientPhone">
                                  @if (editUserForm.get('editClientPhone')?.invalid && editUserForm.get('editClientPhone')?.touched) {
                                    <div
                                      >
                                      @if (editUserForm.get('editClientPhone')?.invalid && editUserForm.get('editClientPhone')?.touched) {
                                        <small
                                        class="text-danger"> *Phone is required</small>
                                      }
                                    </div>
                                  }
                                </div>
                              </div>
                              <!-- <div class="col-md-6">
                                <div class="input-block mb-3">
                                  <label class="col-form-label" for="">Company Name <span class="text-danger">*</span></label>
                                  <input class="form-control" type="text"
                                    [class.invalid]="editUserForm.get('editClientCompany')?.invalid && editUserForm.get('editClientCompany')?.touched"
                                    formControlName="editClientCompany">
                                    @if (editUserForm.get('editClientCompany')?.invalid && editUserForm.get('editClientCompany')?.touched) {
                                      <div
                                        >
                                        @if (editUserForm.get('editClientCompany')?.invalid && editUserForm.get('editClientCompany')?.touched) {
                                          <small
                                          class="text-danger"> *Company is required</small>
                                        }
                                      </div>
                                    }
                                  </div>
                                </div> -->
                              </div>
                              <div class="table-responsive m-t-15">
                                <table class="table table-striped custom-table">
                                  <thead>
                                    <tr>
                                      <th>Module Permission</th>
                                      <th class="text-center">Read</th>
                                      <th class="text-center">Write</th>
                                      <th class="text-center">Create</th>
                                      <th class="text-center">Delete</th>
                                      <th class="text-center">Import</th>
                                      <th class="text-center">Export</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <td>Projects</td>
                                      <td class="text-center">
                                        <label class="custom_check">
                                          <input type="checkbox" checked>
                                          <span class="checkmark"></span>
                                        </label>
                                      </td>
                                      <td class="text-center">
                                        <label class="custom_check">
                                          <input type="checkbox" checked>
                                          <span class="checkmark"></span>
                                        </label>
                                      </td>
                                      <td class="text-center">
                                        <label class="custom_check">
                                          <input type="checkbox" checked>
                                          <span class="checkmark"></span>
                                        </label>
                                      </td>
                                      <td class="text-center">
                                        <label class="custom_check">
                                          <input type="checkbox" checked>
                                          <span class="checkmark"></span>
                                        </label>
                                      </td>
                                      <td class="text-center">
                                        <label class="custom_check">
                                          <input type="checkbox" checked>
                                          <span class="checkmark"></span>
                                        </label>
                                      </td>
                                      <td class="text-center">
                                        <label class="custom_check">
                                          <input type="checkbox" checked>
                                          <span class="checkmark"></span>
                                        </label>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td>Tasks</td>
                                      <td class="text-center">
                                        <label class="custom_check">
                                          <input type="checkbox" checked>
                                          <span class="checkmark"></span>
                                        </label>
                                      </td>
                                      <td class="text-center">
                                        <label class="custom_check">
                                          <input type="checkbox" checked>
                                          <span class="checkmark"></span>
                                        </label>
                                      </td>
                                      <td class="text-center">
                                        <label class="custom_check">
                                          <input type="checkbox" checked>
                                          <span class="checkmark"></span>
                                        </label>
                                      </td>
                                      <td class="text-center">
                                        <label class="custom_check">
                                          <input type="checkbox" checked>
                                          <span class="checkmark"></span>
                                        </label>
                                      </td>
                                      <td class="text-center">
                                        <label class="custom_check">
                                          <input type="checkbox" checked>
                                          <span class="checkmark"></span>
                                        </label>
                                      </td>
                                      <td class="text-center">
                                        <label class="custom_check">
                                          <input type="checkbox" checked>
                                          <span class="checkmark"></span>
                                        </label>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td>Chat</td>
                                      <td class="text-center">
                                        <label class="custom_check">
                                          <input type="checkbox" checked>
                                          <span class="checkmark"></span>
                                        </label>
                                      </td>
                                      <td class="text-center">
                                        <label class="custom_check">
                                          <input type="checkbox" checked>
                                          <span class="checkmark"></span>
                                        </label>
                                      </td>
                                      <td class="text-center">
                                        <label class="custom_check">
                                          <input type="checkbox" checked>
                                          <span class="checkmark"></span>
                                        </label>
                                      </td>
                                      <td class="text-center">
                                        <label class="custom_check">
                                          <input type="checkbox" checked>
                                          <span class="checkmark"></span>
                                        </label>
                                      </td>
                                      <td class="text-center">
                                        <label class="custom_check">
                                          <input type="checkbox" checked>
                                          <span class="checkmark"></span>
                                        </label>
                                      </td>
                                      <td class="text-center">
                                        <label class="custom_check">
                                          <input type="checkbox" checked>
                                          <span class="checkmark"></span>
                                        </label>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td>Estimates</td>
                                      <td class="text-center">
                                        <label class="custom_check">
                                          <input type="checkbox" checked>
                                          <span class="checkmark"></span>
                                        </label>
                                      </td>
                                      <td class="text-center">
                                        <label class="custom_check">
                                          <input type="checkbox" checked>
                                          <span class="checkmark"></span>
                                        </label>
                                      </td>
                                      <td class="text-center">
                                        <label class="custom_check">
                                          <input type="checkbox" checked>
                                          <span class="checkmark"></span>
                                        </label>
                                      </td>
                                      <td class="text-center">
                                        <label class="custom_check">
                                          <input type="checkbox" checked>
                                          <span class="checkmark"></span>
                                        </label>
                                      </td>
                                      <td class="text-center">
                                        <label class="custom_check">
                                          <input type="checkbox" checked>
                                          <span class="checkmark"></span>
                                        </label>
                                      </td>
                                      <td class="text-center">
                                        <label class="custom_check">
                                          <input type="checkbox" checked>
                                          <span class="checkmark"></span>
                                        </label>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td>Invoices</td>
                                      <td class="text-center">
                                        <label class="custom_check">
                                          <input type="checkbox" checked>
                                          <span class="checkmark"></span>
                                        </label>
                                      </td>
                                      <td class="text-center">
                                        <label class="custom_check">
                                          <input type="checkbox" checked>
                                          <span class="checkmark"></span>
                                        </label>
                                      </td>
                                      <td class="text-center">
                                        <label class="custom_check">
                                          <input type="checkbox" checked>
                                          <span class="checkmark"></span>
                                        </label>
                                      </td>
                                      <td class="text-center">
                                        <label class="custom_check">
                                          <input type="checkbox" checked>
                                          <span class="checkmark"></span>
                                        </label>
                                      </td>
                                      <td class="text-center">
                                        <label class="custom_check">
                                          <input type="checkbox" checked>
                                          <span class="checkmark"></span>
                                        </label>
                                      </td>
                                      <td class="text-center">
                                        <label class="custom_check">
                                          <input type="checkbox" checked>
                                          <span class="checkmark"></span>
                                        </label>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td>Timing Sheets</td>
                                      <td class="text-center">
                                        <label class="custom_check">
                                          <input type="checkbox" checked>
                                          <span class="checkmark"></span>
                                        </label>
                                      </td>
                                      <td class="text-center">
                                        <label class="custom_check">
                                          <input type="checkbox" checked>
                                          <span class="checkmark"></span>
                                        </label>
                                      </td>
                                      <td class="text-center">
                                        <label class="custom_check">
                                          <input type="checkbox" checked>
                                          <span class="checkmark"></span>
                                        </label>
                                      </td>
                                      <td class="text-center">
                                        <label class="custom_check">
                                          <input type="checkbox" checked>
                                          <span class="checkmark"></span>
                                        </label>
                                      </td>
                                      <td class="text-center">
                                        <label class="custom_check">
                                          <input type="checkbox" checked>
                                          <span class="checkmark"></span>
                                        </label>
                                      </td>
                                      <td class="text-center">
                                        <label class="custom_check">
                                          <input type="checkbox" checked>
                                          <span class="checkmark"></span>
                                        </label>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                              <div class="submit-section">
                                <button class="btn btn-primary submit-btn" >Save</button>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- /Edit Client Modal -->

                    <!-- Delete Client Modal -->
                    <div class="modal custom-modal fade" id="delete_client" role="dialog">
                      <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                          <div class="modal-body">
                            <div class="form-header">
                              <h3>Delete Client</h3>
                              <p>Are you sure want to delete?</p>
                            </div>
                            <div class="modal-btn delete-action">
                              <div class="row">
                                <div class="col-6">
                                  <a  class="btn btn-primary continue-btn"
                                  >Delete</a>
                                </div>
                                <div class="col-6">
                                  <a  data-bs-dismiss="modal"
                                  class="btn btn-primary cancel-btn">Cancel</a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- /Delete Client Modal -->