<div id="notificationModalLib" class="modal custom-modal fade" role="dialog">
	<div class="modal-dialog modal-dialog-centered modal-md" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Requested Document Details</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<form >
				<div class="modal-body">
					<div>
						<div class="col-md-12">
							<div class="">
								<div class="">

									<table style=" width: 100%; ">
										<tr>
											<td style="text-align: left;width: 27%;margin-right: 24px;padding: 4px;">
												<!-- <ng-container *ngIf="selectedHodItem?.DocumentType">
													<img src="assets/img/{{ selectedHodItem.DocumentType }}.png"
														style="max-width: 30%; padding-bottom: 5%;">
												</ng-container> -->
											<!-- <td><strong>{{ selectedHodItem?.RequestedDocumentName }}</strong></td> -->
										</tr>
										<tr>
											<td style="width: 30%;padding: 8px; "><strong>Requester Name:</strong></td>

											<!-- <td style="padding: 8px;">{{ selectedHodItem?.RequesterName }}</td> -->
										</tr>
										<tr>
											<td style="width: 50%;padding: 8px;"><strong>Unique Document Name:</strong>
											</td>
											<td style="padding: 8px;">
												<!-- <div class="short-name-hod">
													{{ selectedHodItem?.UniqueDocumentName | slice:0:10 }}...
												</div>
												<div class="full-Hodname-tooltip">
													{{ selectedHodItem?.UniqueDocumentName }}
												</div> -->
											</td>
										</tr>
										<tr>
											<td style="padding: 8px;"><strong>Plant Name:</strong></td>
											<!-- <td style="padding: 8px;">{{ selectedHodItem?.plantName }}</td> -->
										</tr>
										<tr>
											<td style="padding: 8px;"><strong>Department Name:</strong></td>
											<!-- <td style="padding: 8px;">{{ selectedHodItem?.DepartmentName }}</td> -->
										</tr>
										<tr>
											<td style="padding: 8px;"><strong>Attachment:</strong></td>
											<td style="padding: 8px;">
												<!-- Use Angular's property binding to dynamically set href -->
												<!-- <a *ngIf="selectedHodItem?.uploadImg"
													[href]="selectedHodItem?.uploadImg"
													download="selectedHodItem?.uploadImg" target="_blank">
													<i class="fas fa-eye" style="color: rgb(48, 63, 228)"></i>
												</a> -->
												<!-- <span *ngIf="!selectedHodItem?.uploadImg">No attachment available</span> -->
											</td>
										</tr>
										<tr>
											<td style="padding: 8px;"><strong>Status:</strong></td>
											<td style="padding: 8px;">
												<select class="statusDropdown" formControlName="status"
													placeholder="Select" >
													<option value="">--Select--</option>
													<option value="A">Approved</option>
													<option value="R">Reject</option>
												</select>
												<!-- <div *ngIf="hodModalForm.get('status')?.touched && hodModalForm.get('status')?.invalid"
													class="text-danger">
													Status is required!
												</div> -->
											</td>
										</tr>
										<!-- <tr *ngIf="reasonFlag">
											<td style="padding: 8px;"><strong>Reason:</strong></td>
											<td> <textarea rows="4" cols="5" [(ngModel)]="reason" class="form-control"
													formControlName="reason" placeholder="Enter message"
													
													style="height:70px;width: 101%;"></textarea>
												<div *ngIf="reason == ''  && rejectReasonFlag" class="text-danger">
													Provide the reason for the rejection!
												</div>
											</td>
										</tr> -->
									</table>


									<!-- Action Buttons -->
									<div class="row mt-3">
										<div class="col-lg-12 text-end">
											<button class="btn btn-success" data-bs-dismiss="modal"
												 type="button"
												style="background-color: rgb(36, 160, 4); margin-right: 1%;"
											>
												Submit
											</button>

										</div>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</form>


		</div>
	</div>
</div>