<div class="content container-fluid" style="height: 120vh;">
  <!-- Page Header -->
  <div class="page-header">
    <div class="row align-items-center">
      <div class="col-md-4">
        <h3 class="page-title">Add Sub-Area</h3>
              
      </div>
      <div class="col-md-12 modalButtons" >
        <a href="javascript:void(0);" class="btn add-btn" data-bs-toggle="modal" data-bs-target="#add_subArea"
          id="modalButton"><i class="la la-plus-circle"></i>Add</a>
      </div>
    
  </div>

  <hr />
  
  <div class="filter-section">
    <ul>
      <li>
       

        <div class="filter-section">
          <div class="col-xl-12">
            <div class="daterange-picker d-flex centered-div">
              <div class="form-sort">
                <i class="las la-calendar"></i>
                <input type="text" class="form-control date-range bookingrange" #drp="bsDaterangepicker" bsDaterangepicker
                  [(ngModel)]="bsRangeValue" (ngModelChange)="onDateRangeSelected()" />
              </div>
            </div>
          </div>
        </div>

      </li>

      <li>
        <div class="search-set">
          <div class="search-input">

            <div class="dataTables_filter">
              <label>
                <input style="height:43px"  [(ngModel)]="searchDataValue" [ngModelOptions]="{standalone: true}"
                  [ngModelOptions]="{standalone: true}" (ngModelChange)="searchData(searchDataValue)" type="search"
                  class="form-control" placeholder="Search..." />
              </label>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="table_header">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <div class="dataTables_length">
              <label class="col-form-label" for="">
                Show
                <select [(ngModel)]="pageSize" (ngModelChange)="changePageSize()" class="form-control form-control-sm">
                  <option value="10">10</option>
                  <option value="25">25</option>
                  <option value="50">50</option>
                  <option value="100">100</option>
                </select>
                Entries
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="table-responsive"style=" overflow-y: auto;
    height: 500px;">
        <table matSort (matSortChange)="sortData($event)"
        class="table table-striped custom-table datatable contact-table text-center">
        <thead >
          <tr >
            <th>Main Head</th>
            <th>Plant Name</th>
            <th>Department Name</th>
            <th>Sub-Area Name</th>
             <th>Sub-Area Abbriviation</th>
          </tr>
        </thead>
        <tbody>
          <div *ngIf="isLoading" class="spinner-border" style="align-items: center;margin-left: 300%;">
          </div>
          <tr *ngFor="let item of contactlist; ">
            <td>
              <h2 class="table-avatar d-flex">
                <a class="profile-split d-flex flex-column">{{ item.headId }}
                  </a>
                </h2>
            </td>

            <td>
              {{ item.plantId }}
          
          </td>
            
          <td>
            {{ item.departmentId}}
          </td>
           <td>
              {{ item.subAreaName}}
            </td>
             <td>
              {{ item.abbreviation}}
            </td>
          </tr>
          <tr *ngIf="!isLoading && contactlist.length == 0">
            <td colspan="7" style="text-align: center; color: red">
              No Records Found!
            </td>
          </tr>
        
        </tbody>
      </table>
      </div>
      <div class="table_footer">
        <div class="col-sm-12 col-md-5">
          <div class="dataTables_info">
            Showing {{ serialNumberArray[0] }} to
            {{ serialNumberArray[serialNumberArray.length - 2] }} of
            {{ totalData }} entries
          </div>
        </div>

        <div class="col-sm-12 col-md-7">
          <div class="pagination_section">
            <ul class="pagination">
              <li class="page-item" [ngClass]="{
                disabled: currentPage === 1
              }">
                <a (click)="getMoreData('previous')" class="page-link" href="javascript:void(0);" tabindex="-1"><i
                    class="fa fa-angle-double-left"></i></a>
              </li>

              @for (item of pageNumberArray; track item; let i = $index) {
              <li class="page-item" [class.active]="item === currentPage" [ngClass]="
                  (pageNumberArray[currentPage - 2] > item &&
                    item !== 1 &&
                    pageNumberArray.length > 6) ||
                  (pageNumberArray[currentPage] < item &&
                    item !== 1 &&
                    pageNumberArray.length > 6 &&
                    pageNumberArray.length !== item)
                    ? 'hide-page-no'
                    : 'show-page-no'
                ">
                <a (click)="moveToPage(item)" class="page-link" href="javascript:void(0);">
                  {{ item }}
                </a>
              </li>
              @if (
              i === 0 && pageNumberArray.length > 6 && currentPage > 2
              ) {
              <li class="page-item" [hidden]="currentPage === 1" (click)="moveToPage(currentPage - 2)"
                (keydown.enter)="moveToPage(currentPage - 2)" tabindex="0">
                <a class="page-link" href="javascript:void(0);"> ... </a>
              </li>
              }
              @if (
              i === pageNumberArray.length - 2 &&
              pageNumberArray.length > 6
              ) {
              <li [hidden]="
                  currentPage >=
                    pageNumberArray[pageNumberArray.length - 2] ||
                  totalData < serialNumberArray[serialNumberArray.length - 1]
                " class="page-item" (click)="moveToPage(currentPage + 2)"
                (keydown.enter)="moveToPage(currentPage + 2)" tabindex="0">
                <a class="page-link" href="javascript:void(0);"> ... </a>
              </li>
              }
              }

              <li class="page-item" [ngClass]="{
                disabled:
                  currentPage ===
                    pageNumberArray[pageNumberArray.length - 1] ||
                    contactlist.length === 0
              }">
                <a (click)="getMoreData('next')" class="page-link" href="javascript:void(0);"><i
                    class=" fa fa-angle-double-right"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>




<div class="modal firstModal custom-modal fade" id="add_subArea" role="dialog">
  <div class="modal-dialog modal-dialog-right modal-md" role="document">
    <div class="modal-content" >
      <div class="modal-header d-flex justify-content-between align-items-center" style="background: linear-gradient(to right, #f2f9fb 0%, #00820e 100%) !important;">
        <h3 style="margin: 0;  margin-top: -4%;
    padding-bottom: 4%;">Add Sub-Area</h3>
        <button type="button" id="closeModalBtn" class="btn-close" (click)="closeModalBtn()" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="uploadFileForm" (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="col-sm-6">
              <div class="input-block mb-3">
                <label class="col-form-label">Main Head<span class="text-danger">*</span></label>
                <input class="form-control" formControlName="mainHead" type="text"  placeholder="POWER O&M" readonly>

              </div>

              <div class="input-block mb-3" >
                <label class="col-form-label">Department <span class="text-danger">*</span></label>
                <mat-select formControlName="department" class="custom-mat-select select" placeholder="Select">
                  <mat-option value="">--Select--</mat-option>
                  <mat-option *ngFor="let element of departmentList"
                    [value]="element.catName">{{element.catName}}</mat-option>
                </mat-select>

                <div
                  *ngIf="uploadFileForm.get('department')?.invalid && (uploadFileForm.get('department')?.touched || uploadFileForm.get('department')?.dirty)"
                  class="text-danger">
                  Department name is required.
                </div>

              </div>

             
            
            </div>
           
            <div class="col-sm-6">
              <div class="input-block mb-3" >
                <label class="col-form-label">Plant Name <span class="text-danger">*</span></label>
                <mat-select formControlName="plants" class="custom-mat-select select" placeholder="Select">
                  <mat-option value="">--Select--</mat-option>

                    <mat-option value="CPP-2 (540MW)">CPP-2 (540MW)</mat-option>
                    <mat-option value="CPP-3 (1200MW)">CPP-3 (1200MW)</mat-option>
                </mat-select>

                <div
                  *ngIf="uploadFileForm.get('plants')?.invalid && (uploadFileForm.get('plants')?.touched || uploadFileForm.get('plants')?.dirty)"
                  class="text-danger">
                  Plant is required.
                </div>

              </div>

              <div class="input-block mb-3">
                <label class="col-form-label"  for="">Sub-Area Abbriviation<span class="text-danger">*</span></label>
                <input class="form-control" formControlName="subAreaAbbr" type="text">
  
                <div
                    *ngIf="uploadFileForm.get('subAreaAbbr')?.invalid && (uploadFileForm.get('subAreaAbbr')?.touched || uploadFileForm.get('subAreaAbbr')?.dirty)"
                    class="text-danger">
                    Sub-Area Abbriviation is required.
                  </div>
              </div>
            </div>
            <div class="input-block mb-3">
              <label class="col-form-label"  for="">Sub-Area Name <span class="text-danger">*</span></label>
              <input class="form-control" formControlName="subArea" type="text">

              <div
                  *ngIf="uploadFileForm.get('subArea')?.invalid && (uploadFileForm.get('subArea')?.touched || uploadFileForm.get('subArea')?.dirty)"
                  class="text-danger">
                  Sub-Area name is required.
                </div>
            </div>
           

          </div>
          <div class="submit-section">
            <button class="btn submit-btn btn-sm" type="submit" data-bs-dismiss="modal" aria-label="Close">Submit</button>
           
          </div>
        </form>
      </div>
    </div>
  </div>
</div>