<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Education Portal</title>
</head>

<body>
  <header>
    <div>
      <form [formGroup]="getAllFilesForm" class="file-search" id="totalGrp">
        <div class="search-bar">
          <input  style="margin-left: -37%; position: absolute; margin-top: 76%; width: 23%;" type="text"
            class="searchBar" placeholder="Enter your search key..."    formControlName="searchKeyData"    (keydown.enter)="$event.preventDefault()"
            />
            <button   class="searchBar" id="mainHeadButton"
            class="button button-primary" (click)="getAllDtaForHide()" data-bs-toggle="modal"  data-bs-target="#viewMainHeadOptions" >
            Choose Main Heads
          </button>

          <button  id="dashboardModalSearch"
            class="button button-primary" (click)="fileNameSearch()">
            Search
          </button>
          
        </div>
      </form>
      <img src="assets/img/banner-edit.jpg" class="backgroundImage" />
    </div>
  </header>

  <!-- </body> -->
   <div class="cardHeader"  [hidden]="cardHide">
    <div class="card-body"  style="text-align: center;">{{mainHeadName}} - {{plantType}}</div>
   </div>
 


  <div class="card-container" #autoScroll [hidden]="cardHide">
    <div class="row justify-content-center align-items-center">
      <div class="col-sm-3 col-6" *ngFor="let item of plantsList; let i = index">
        <div class="card">
          <div class="ds-top">
            <div *ngIf="item.departmentName == 'OPERATION'">
              <img src="assets/img/areaImage1.JPG" width="500" height="500" />
            </div>
            <div *ngIf="item.departmentName == 'MECHANICAL'">
              <img src="assets/img/DSC_5538.JPG" width="500" height="500" />
            </div>
            <div *ngIf="item.departmentName == 'ELECTRICAL'">
              <img src="assets/img/DSC_0070.JPG" width="500" height="500" />
            </div>
            <div *ngIf="item.departmentName == 'C&I'">
              <img src="assets/img/DSC_5538.JPG" width="500" height="500" />
            </div>
            <div *ngIf="item.departmentName == 'CIVIL'">
              <img src="assets/img/DSC_0070.JPG" width="500" height="500" />
            </div>
            <div *ngIf="item.departmentName == 'CHP'">
              <img src="assets/img/DSC_5538.JPG" width="500" height="500" />
            </div>
            <div *ngIf="item.departmentName == 'AHP'">
              <img src="assets/img/DSC_5538.JPG" width="500" height="500" />
              </div>
              <div *ngIf="!['OPERATION', 'MECHANICAL', 'ELECTRICAL', 'C&I', 'CIVIL', 'CHP', 'AHP'].includes(item.departmentName)">
                <img src="assets/img/DSC_5538.JPG" width="500" height="500" />
            </div>
          </div>
          

          <div class="avatar-holder">

            <div *ngIf="item.departmentName == 'OPERATION'">
              <img src="assets/img/Power-O&M.jpg" class="avtarImage" />
            </div>

            <div *ngIf="item.departmentName == 'ASH-DYKE'">
              <img src="assets/img/Ash-Dyke.jpg" class="avtarImage" />
            </div>


            <div *ngIf="item.departmentName == 'OPERATION'">
              <img src="assets/img/Power-O&M.jpg" class="avtarImage" />
            </div>
            <div *ngIf="item.departmentName == 'ELECTRICAL'">
              <img src="assets/img/Power-Sale.jpg" class="avtarImage" />
            </div>

            <div *ngIf="item.departmentName == 'MECHANICAL'">
              <img src="assets/img/Ash-Dyke.jpg" class="avtarImage" />
            </div>
            <div *ngIf="item.departmentName == 'C&I'">
              <img src="assets/img/Plant-Infra.jpg" class="avtarImage" />
            </div>
            <div *ngIf="item.departmentName == 'CIVIL'">
              <img src="assets/img/Coal-Commercial.jpg" class="avtarImage" />
            </div>
            <div *ngIf="item.departmentName == 'CHP'">
              <img src="assets/img/Plant-Infra.jpg" class="avtarImage" />
            </div>
            <div *ngIf="item.departmentName == 'AHP'">
              <img src="assets/img/Power-Sale.jpg" class="avtarImage" />
            </div>

            <div *ngIf="item.departmentName == 'ELECTRICAL'">
              <img src="assets/img/Ash-Dyke.jpg" class="avtarImage" />
            </div>

            <div *ngIf="!['OPERATION', 'MECHANICAL', 'ELECTRICAL', 'C&I', 'CIVIL', 'CHP', 'AHP', 'ASH-DYKE'].includes(item.departmentName)">
              <img src="assets/img/Power-Sale.jpg" width="500" height="500" />
          </div>

          </div>
          <div class="name">
            <h5 style="font-weight: 600; margin-top: -20%; font-size: 14px">
              {{ item.departmentName }}
            </h5>
            <h3 class="card-title">{{ item.fileCount }}</h3>
            <div *ngFor="let it of item.listOfSubAreaDtos">
              <ol>

                <li>
                  <h5 class="subAreasName" (click)="getDetailsByPlantsDataName(item.departmentName,item.subAreaName)">
                    &#11166; {{ it.subAreaName }}</h5>
                </li>
              </ol>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>



  
  <!-- <div class="flex-container">
    <div class="filter-section">
      <ul>
       
        <li>
          <div class="filter-section">
            <div class="col-xl-12" style=" margin-left: 0%;">
              <div class="daterange-picker d-flex centered-div">
                <div class="form-sort">
                  <i class="las la-calendar"></i>
                  <input
                    type="text"
                    class="form-control date-range bookingrange"
                    #drp="bsDaterangepicker"
                    bsDaterangepicker
                    placeholder="Select Date..."
                    [(ngModel)]="bsRangeValue"
                    (ngModelChange)="onDateRangeSelected()"
                  />
                </div>
              </div>
            </div>
          </div>
          
        </li>
        <li>
          <div class="form-sort" id="filterDoc">
            <i class="las la-filter"></i>
            <mat-select
            class="select leads"
            placeholder="Select Filter" 
          >
            <mat-option value="all">Document Type</mat-option>
            <mat-option value="web">Hard Copy</mat-option>
            <mat-option value="web">Soft Copy</mat-option>
          </mat-select>
          </div>
        </li>

        <li>
          <div class="search-set">
            <div class="search-input">
              
              <div class="dataTables_filter">
                <label>
                  <input
                    style="height: 43px;    margin-top: 19%;"
                    id="value"
                    [(ngModel)]="searchDataValue"
                    [ngModelOptions]="{ standalone: true }"
                    [ngModelOptions]="{ standalone: true }"
                    (ngModelChange)="searchData(searchDataValue)"
                    type="search"
                    class="form-control"
                    placeholder="Search..."
                  />
                </label>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

















    <div class="row" style="margin-top: 20px; overflow-y: auto">
      <div class="col-md-12">
        <div class="table_header" >
          <div class="row">
            <div class="col-sm-8 col-md-5">
              <div class="dataTables_length">
                <label class="col-form-label" for="">
                  Show
                  <select
                    [(ngModel)]="pageSize"
                    (ngModelChange)="changePageSize()"
                    class="form-control form-control-sm" id="changePageDataNumber"
                  >
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                  </select>
                  Entries
                </label>
              </div>
            </div>
          </div>
        </div>
        <div
          class="table-responsive"
          style="text-align: center; justify-content: center"
        >
          <table
            matSort
            (matSortChange)="sortData($event)"
            class="table table-striped custom-table datatable doc-table"
          >
            <thead>
              <tr>
                <th style="color: rgb(22, 32, 138)" mat-sort-header="name">
                  Document Name
                </th>
                <th style="color: rgb(22, 32, 138)" mat-sort-header="type">
                  Document Type
                </th>
                <th style="color: rgb(22, 32, 138)" mat-sort-header="ver">
                  Versions
                </th>
                <th style="color: rgb(22, 32, 138)" mat-sort-header="size">
                  Document Size
                </th>
                <th style="color: rgb(22, 32, 138)">Download</th>
                <th style="color: rgb(22, 32, 138)">View</th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let item of fileList">
                
                <td>
                  <h2 class="table-avatar d-flex">
                    {{ item.listOfDocumentVersoinDtos[0].newUniqueFileName}}
                  </h2>
                </td>
                <td>{{ item.documentType }}</td>

                <td>
                  <mat-select
                    class="custom-mat-select select"
                    id="versionSelect"
                    placeholder="Select Version"
                    (selectionChange)="onVersionChange(item, $event.value)"
                    [value]="item.selectedVersion"
                  >
                    <mat-option
                      *ngFor="let version of item.listOfDocumentVersoinDtos"
                      [value]="version"
                    >
                      {{ version.versionName }} - {{ version.versionReleaseDate }}
                    </mat-option>
                  </mat-select>
                </td>
                
                
                <td>{{ item.listOfDocumentVersoinDtos[0].fileSize }} KB</td>
                <td class="text-center">
                  <a
                    class="dropdown-item"
                    [href]="item.listOfDocumentVersoinDtos[0].fileUrl"
                    target="_blank"
                  >
                    <i
                      class="fa-solid fa-download"
                      style="color: rgb(0, 117, 234)"
                    ></i>
                  </a>
                </td>
                <td class="text-center">
                  <a
                    class="dropdown-item"
                    [href]="item.listOfDocumentVersoinDtos[0].fileUrl"
                    target="_blank"
                    data-bs-toggle="modal"
                    data-bs-target="#view_files"
                  >
                    <i class="fas fa-eye" style="color: rgb(0, 117, 234)"></i>
                  </a>
                </td>
              </tr>
              <tr *ngIf="fileList.length == 0">
                <td colspan="6" style="text-align: center; color: red">
                  No Records Found!
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="table_footer">
          <div class="col-sm-12 col-md-5">
            <div class="dataTables_info">
              Showing {{ serialNumberArray[0] }} to
              {{ serialNumberArray[serialNumberArray.length - 2] }} of
              {{ totalData }} entries
            </div>
          </div>
  
          <div class="col-sm-12 col-md-7">
            <div class="pagination_section">
              <ul class="pagination">
                <li class="page-item" [ngClass]="{
                    disabled: currentPage === 1
                  }">
                  <a (click)="getMoreData('previous')" class="page-link" href="javascript:void(0);" tabindex="-1"><i
                      class="fa fa-angle-double-left"></i></a>
                </li>
  
                @for (item of pageNumberArray; track item; let i = $index) {
                <li class="page-item" [class.active]="item === currentPage" [ngClass]="
                      (pageNumberArray[currentPage - 2] > item &&
                        item !== 1 &&
                        pageNumberArray.length > 6) ||
                      (pageNumberArray[currentPage] < item &&
                        item !== 1 &&
                        pageNumberArray.length > 6 &&
                        pageNumberArray.length !== item)
                        ? 'hide-page-no'
                        : 'show-page-no'
                    ">
                  <a (click)="moveToPage(item)" class="page-link" href="javascript:void(0);">
                    {{ item }}
                  </a>
                </li>
                @if (
                i === 0 && pageNumberArray.length > 6 && currentPage > 2
                ) {
                <li class="page-item" [hidden]="currentPage === 1" (click)="moveToPage(currentPage - 2)"
                  (keydown.enter)="moveToPage(currentPage - 2)" tabindex="0">
                  <a class="page-link" href="javascript:void(0);"> ... </a>
                </li>
                }
                @if (
                i === pageNumberArray.length - 2 &&
                pageNumberArray.length > 6
                ) {
                <li [hidden]="
                      currentPage >=
                        pageNumberArray[pageNumberArray.length - 2] ||
                      totalData < serialNumberArray[serialNumberArray.length - 1]
                    " class="page-item" (click)="moveToPage(currentPage + 2)"
                  (keydown.enter)="moveToPage(currentPage + 2)" tabindex="0">
                  <a class="page-link" href="javascript:void(0);"> ... </a>
                </li>
                }
                }
  
                <li class="page-item" [ngClass]="{
                    disabled:
                      currentPage ===
                        pageNumberArray[pageNumberArray.length - 1] ||
                        fileList.length === 0
                  }">
                  <a (click)="getMoreData('next')" class="page-link" href="javascript:void(0);"><i
                      class=" fa fa-angle-double-right"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div> -->



</body>
<!-- <app-footer></app-footer> -->





<!-- Main Head Modal -->

<div class="modal firstModal custom-modal fade" id="viewMainHeadOptions" role="dialog">
  <div class="modal-dialog modal-dialog-right modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #0cae2f; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);  border-top-left-radius: 10px; 
  border-top-right-radius: 10px;  width: 133%;">
        <div>
          <h2 style="margin-left: 286px;font-size: 33px; margin-top: -13px;">Choose Main Head</h2>
        </div>
        <button type="button" id="closeModalBtn" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="cross">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="    height: 524px;
      width: 133%;
      background-color: #ededed;
      background-image: url(./assets/img/Power-BG2.jpg);
      background-size: 100%;
      background-position: center;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      background-repeat: no-repeat;">
        <div class="row">
          <div class="col-sm-3" *ngFor="let item of headList">
            <div class="item-container" [attr.data-name]="item.name">
              <section class="card2" (click)="getDetailsByCateName(item.name, item.catType)">
                <a data-bs-toggle="modal" data-bs-target="#viewPlantsOptions">
                  <div *ngIf="item.name == 'POWER O&M'">
                    <img src="assets/img/Power-O&M.jpg" />
                  </div>

                <div class="clickable-div"
                  *ngIf="item.name == 'POWER SALE'">
                  <img src="assets/img/Power-Sale.jpg" />
                </div>
              
                <div class="clickable-div"
                  *ngIf="item.name == 'ASH-DYKE'">
                  <img src="assets/img/Ash-Dyke.jpg" />
                </div>
                <div  class="clickable-div"
                  *ngIf="item.name == 'PLANT INFRA(OUTSIDE)'">
                  <img src="assets/img/Plant-Infra.jpg" />
                </div>
                <div  class="clickable-div"
                  *ngIf="item.name == 'POWER-LEGAL'">
                  <img src="assets/img/Power-Legal.jpg" />
                </div>
                <div  class="clickable-div"
                *ngIf="item.name == 'PLANNING'">
                <img src="assets/img/Power-Sale.jpg" />
              </div>
            </a>

                <div  class="clickable-div"
                  *ngIf="item.name == 'COAL COMMERCIAL'">
                  <img src="assets/img/Coal-Commercial.jpg" />
                </div>

                <div *ngIf="item.name == 'OPERATION'">
                  <img src="assets/img/Power-O&M.jpg" />
                </div>
                <div *ngIf="item.name == 'MECHANICAL'">
                  <img src="assets/img/Power-Sale.jpg" />
                </div>
                <div *ngIf="item.name == 'ELECTRICAL'">
                  <img src="assets/img/Ash-Dyke.jpg" />
                </div>
                <div *ngIf="item.name == 'C&I'">
                  <img src="assets/img/Plant-Infra.jpg" />
                </div>
                <div *ngIf="item.name == 'CIVIL'">
                  <img src="assets/img/Coal-Commercial.jpg" />
                </div>
                <div *ngIf="item.name == 'CHP'">
                  <img src="assets/img/Plant-Infra.jpg" />
                </div>
                <div *ngIf="item.name == 'AHP'">
                  <img src="assets/img/Power-Sale.jpg" />
                </div>
                <div *ngIf="item.name == 'ELECTRICAL'">
                  <img src="assets/img/Ash-Dyke.jpg" />
                </div>



              </section>
              <div class="mainHeadNames" *ngIf="item.name == 'POWER O&M'">Power O&M</div>
              <div class="mainHeadNames" *ngIf="item.name == 'POWER SALE'">Power Sale</div>
              <div class="mainHeadNames" *ngIf="item.name == 'ASH-DYKE'">Ash-Dyke</div>
              <div class="mainHeadNames" *ngIf="item.name == 'PLANT INFRA(OUTSIDE)'">Plant Infra</div>
              <div class="mainHeadNames" *ngIf="item.name == 'COAL COMMERCIAL'">Coal Commercial</div>
              <div class="mainHeadNames" *ngIf="item.name == 'POWER-LEGAL'">Power Legal</div>
              <div class="mainHeadNames" *ngIf="item.name == 'PLANNING'">Planning</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Main Head Modal Section End -->





<!-- plantModal -->

<div class="modal firstModal custom-modal fade" id="viewPlantsOptions" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="row">
        <div class="col-md-6"
          style="position: relative; height: 360px; background-color: #ffffff; background-image: url('./assets/img/Pop-up-Steel-plant.png'); background-size: 104%; background-position: left center; background-repeat: no-repeat;">
          <!-- Background image section -->
          <button type="button" class="circular-button" id="backButton" data-bs-toggle="modal"
            data-bs-target="#viewMainHeadOptions"
            style="position: absolute; top: 10px; left: 10px; width: 30px; height: 30px; border-radius: 50%; background-color:#ffffff; border: 1px solid #000000; display: flex; align-items: center; justify-content: center;">
            &#x2190; <!-- Unicode for left arrow -->
          </button>
        </div>
        <div class="col-md-6"
          style="position: relative; display: flex; align-items: center; justify-content: center; background-color: white;">
          <!-- Written content section -->
          <button type="button" id="closePlantModalBtn" #closebutton class="btn-close circular-button"
            data-bs-dismiss="modal" aria-label="Close"
            style="position: absolute; top: 10px; right: 10px; width: 20px; height: 20px; border-radius: 50%; background-color: #c3c2c2; border: 1px solid #000000; display: flex; align-items: center; justify-content: center;">
            <span aria-hidden="true" >&times;</span>
          </button>
          <div class="plantContent" style="text-align: center;">
            <h2 style="color: black;">Choose Plant</h2>
            <p>Please choose any one plant from <br />the below options</p>
            <div class="row">
              <div class="" *ngFor="let item of plantsList">
                <div *ngIf="item.name == 'CPP-2 (540MW)'">
                  <button class="btn-custom btn-green"id='cpp2btn' (click)="getDetailsByPlantsName(item.name, item.catType)"
                    (click)="onClick()"> CPP-2(540MW) </button>
                </div>
                <div *ngIf="item.name == 'CPP-3 (1200MW)'">
                  <button class="btn-custom btn-green" (click)="getDetailsByPlantsName(item.name, item.catType)"
                    (click)="onClick()">CPP-3(1200MW)</button>
                </div>
                <div *ngIf="item.name == 'CPP (1740MW)'">
                  <button class="btn-custom btn-green" (click)="navigateToRoute(item.name, item.catType)"
                    (click)="onClick()">CPP(1740MW)</button>
                </div>

              </div>
            </div>

            <!-- <button class="btn-custom btn-white" style="background-color: white; color: black; border: 1px solid #000000; padding: 10px 20px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px; margin: 4px 2px; cursor: pointer; border-radius: 5px;">CPP-3</button>
          -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- FILE SEARCH FUNCTION BY DOCUMENT NAME -->

<div class="cardHeader"  [hidden]="documentNameSearch">
  <div class="card-body"  style="text-align: center;">Search Document Name </div>
 </div>

 <div class="row" [hidden]="documentNameSearch" style="margin-top: 20px; overflow-y: auto;margin-left: 1%;
    margin-right: 1%;">
  <div class="col-md-12">
    <div class="table_header" >
      <div class="row">
        <div class="col-sm-8 col-md-5">
          <div class="dataTables_length">
            <label class="col-form-label" for="">
              Show
              <select
                [(ngModel)]="pageSize"
        
                class="form-control form-control-sm" id="changePageDataNumber"
              >
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
              </select>
              Entries
            </label>
          </div>
        </div>
      </div>
    </div>
    <div
      class="table-responsive"
      style="text-align: center; justify-content: center"
    >
        <table
        matSort
        class="table table-striped custom-table datatable doc-table"
      >
        <thead>
          <tr>
            <th style="color: rgb(22, 32, 138)" mat-sort-header="name">
              Document Name
            </th>
            <th style="color: rgb(22, 32, 138)" mat-sort-header="type">
              Document Type
            </th>
            <th style="color: rgb(22, 32, 138)" mat-sort-header="subType">
              Sub-Document Type
            </th>
            <th style="color: rgb(22, 32, 138)" mat-sort-header="loc">
              Storage Location
            </th>
            <th style="color: rgb(22, 32, 138)" mat-sort-header="ver">
              Versions
            </th>
            <th style="color: rgb(22, 32, 138)" mat-sort-header="size">
              Document Size
            </th>
            <!-- <th style="color: rgb(22, 32, 138)">Download</th>
            <th style="color: rgb(22, 32, 138)">View</th> -->
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let item of fileListSearch">
            
            <td>
              <h2 class="table-avatar d-flex">
                <!-- {{ item.fileName}} -->
                  
              </h2>
              {{item.fileName}}
            </td>
            <td>
                {{item.documentType}}
            </td>
            <td>
              {{item.documentSubType? item.documentSubType : 'N/A'}}
            </td>
            <td>
              {{item.storageLocation? item.storageLocation : 'N/A'}}
            </td>

            <td>
              <mat-select
                class="custom-mat-select select"
              
                placeholder="Select Version"
                (selectionChange)="onVersionChange(item, $event.value)"
                [value]="item.selectedVersion" 
              > 
                <mat-option
                  *ngFor="let version of item.listOfDocumentVersoinDtos"
                  [value]="version" 
                >
                  {{ version.versionName }} - {{ version.versionReleaseDate }}
                </mat-option>
              </mat-select>
            </td>
            
            
            <td>
              {{ item.listOfDocumentVersoinDtos[0].fileSize }} KB
            
            </td>
            <!-- <td class="text-center"> -->
              <!-- <a
                class="dropdown-item"
                [href]="item.listOfDocumentVersoinDtos[0].fileUrl"
                target="_blank"
              >
                <i
                  class="fa-solid fa-download"
                  style="color: rgb(0, 117, 234)"
                ></i>
              </a> -->
              <!-- {{item.download}}
            </td> -->
            <!-- <td class="text-center"> -->
              <!-- <a
                class="dropdown-item"
                [href]="item.listOfDocumentVersoinDtos[0].fileUrl"
                target="_blank"
                data-bs-toggle="modal"
                data-bs-target="#view_files"
              >
                <i class="fas fa-eye" style="color: rgb(0, 117, 234)"></i>
              </a> -->
              <!-- {{item.view}}
            </td> -->
          </tr>
          <!-- <tr *ngIf="fileList.length == 0">
            <td colspan="6" style="text-align: center; color: red">
              No Records Found!
            </td>
          </tr> -->
        </tbody>
      </table>
    </div>
    <div class="table_footer">
      <div class="col-sm-12 col-md-5">
        <!-- <div class="dataTables_info">
          Showing {{ serialNumberArray[0] }} to
          {{ serialNumberArray[serialNumberArray.length - 2] }} of
          {{ totalData }} entries
        </div> -->
      </div>

      <!-- <div class="col-sm-12 col-md-7">
        <div class="pagination_section">
          <ul class="pagination">
            <li class="page-item" [ngClass]="{
                disabled: currentPage === 1
              }">
              <a (click)="getMoreData('previous')" class="page-link" href="javascript:void(0);" tabindex="-1"><i
                  class="fa fa-angle-double-left"></i></a>
            </li>

            @for (item of pageNumberArray; track item; let i = $index) {
            <li class="page-item" [class.active]="item === currentPage" [ngClass]="
                  (pageNumberArray[currentPage - 2] > item &&
                    item !== 1 &&
                    pageNumberArray.length > 6) ||
                  (pageNumberArray[currentPage] < item &&
                    item !== 1 &&
                    pageNumberArray.length > 6 &&
                    pageNumberArray.length !== item)
                    ? 'hide-page-no'
                    : 'show-page-no'
                ">
              <a (click)="moveToPage(item)" class="page-link" href="javascript:void(0);">
                {{ item }}
              </a>
            </li>
            @if (
            i === 0 && pageNumberArray.length > 6 && currentPage > 2
            ) {
            <li class="page-item" [hidden]="currentPage === 1" (click)="moveToPage(currentPage - 2)"
              (keydown.enter)="moveToPage(currentPage - 2)" tabindex="0">
              <a class="page-link" href="javascript:void(0);"> ... </a>
            </li>
            }
            @if (
            i === pageNumberArray.length - 2 &&
            pageNumberArray.length > 6
            ) {
            <li [hidden]="
                  currentPage >=
                    pageNumberArray[pageNumberArray.length - 2] ||
                  totalData < serialNumberArray[serialNumberArray.length - 1]
                " class="page-item" (click)="moveToPage(currentPage + 2)"
              (keydown.enter)="moveToPage(currentPage + 2)" tabindex="0">
              <a class="page-link" href="javascript:void(0);"> ... </a>
            </li>
            }
            }

            <li class="page-item" [ngClass]="{
                disabled:
                  currentPage ===
                    pageNumberArray[pageNumberArray.length - 1] ||
                    fileList.length === 0
              }">
              <a (click)="getMoreData('next')" class="page-link" href="javascript:void(0);"><i
                  class=" fa fa-angle-double-right"></i>
              </a>
            </li>
          </ul>
        </div>
      </div> -->
    </div>
  </div>
</div>




