<!-- Page Content -->
<div class="content container-fluid" style="height: 82vh;">


    <div class="page-header">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="page-title">Profile</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item">Dashboard</li>
                    <li class="breadcrumb-item">Profile</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="card shadow-lg rounded overflow-hidden">
        <!-- Header Section -->
        <div class="card-header bg-light d-flex align-items-center">
            <!-- <img [src]="sanitizedImage || './assets/img/userIcon.png'" alt="Profile Picture"
                class="rounded-circle border me-3" width="60" height="60"> -->
                <img [src]="sanitizedImage"
                         alt="Profile Picture"
                    class="rounded-circle border me-3"
                    width="60" height="60">
            <div>
                <h5 class="mb-1 text-dark">{{ userName }}</h5>
                <small class="text-muted">Employee ID: <strong>{{ id }}</strong></small>
                <br>
                <small class="text-muted">Role: <strong>{{ role }}</strong></small>
            </div>
        </div>

        <!-- Body Section -->
        <div class="card-body bg-white text-dark">
            <div class="row">
                <div class="col-md-6">
                    <p><strong>Phone:</strong> {{ phoneNumber }}</p>
                    <p><strong>Email: </strong> <a class="text-success">{{ emailId }}</a></p>
                </div>
                <div class="col-md-6">
                    <h6><strong>Plant & Department</strong></h6>
                    <ul class="list-unstyled">
                        <li *ngFor="let item of departmentNameList">
                            <i class="bi bi-building"></i> {{ item.plantName }} / {{ item.departmentName }}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>